/*BEGIN:SHOP*/
.vk-shop-search {
    padding: 15px 0;
    height: 100%;

    &__wrapper {
        background-color: $yellow-1;
        background-image: url("../images/bg-search-item.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 30px 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: 24px;
        color: #121212;
        line-height: 1.4;
        margin-bottom: 20px;

        a {
            color: inherit;
        }
    }

    &__btn {
        @extend .vk-btn, .vk-btn--black;
        font-size: 14px;
        font-weight: 500;
        height: 50px;
        padding: 15px 30px;
    }
}

.vk-shop-item {

    &__location,
    &__excerpt {
        display: none;
        @media(min-width: $tablet_landscape_width) {
            display: block;
        }
    }

    &__location {
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #161616;
        line-height: 24px;
        margin-bottom: 13px;
        padding-top: 5px;

        ._icon {
            font-size: 18px;
            margin-right: 3px;
            color: $yellow-1;
            position: relative;
            top: -4px;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__excerpt {
        border-top: 1px solid $grey-7;
        font-size: 14px;
        padding-top: 16px;
        color: #696969;

        p {
            margin-bottom: 8px;
            line-height: 20px;
        }

        ul {
            @extend .vk-list;

            li {
                padding-left: 6px;
                padding-bottom: 3px;
                margin-left: 3px;
                position: relative;
                line-height: 20px;

                &:before {
                    content: '';
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: #696969;
                    display: inline-block;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
            }
        }
    }

    &__date {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        font-weight: bold;
        //line-height: 2;
        letter-spacing: 1px;
        color: $black-1;
        margin-bottom: 5px;
    }

    &__price {
        font-family: Freight-Big;

        ._from {
            display: block;
            font-size: 16px;
            line-height: 1;
            font-weight: 300;
            color: lighten($black-1, 0);
        }

        ._old {
            text-decoration: line-through;
        }
    }

    &--style-1 {
        padding: 15px 0;
        height: 100%;
        position: relative;

        &:before {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                z-index: -1;
                top: 15px;
                bottom: 15px;
                left: 0;
                right: 0;
                background-color: #f4f4f4;
            }
        }

        .vk-shop-item {
            &__box {
                @media (max-width: $tablet_landscape_width - 1px) {
                    display: flex;
                }
            }

            &__cat {
                background-color: rgba($black, .3);
                position: absolute;
                z-index: 11;
                top: 0;
                left: 0;
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.18;
                letter-spacing: 1.8px;
                color: #ffffff;
                padding: 4px 15px;
            }

            &__img {
                @extend .vk-img, .vk-img--cover;
                height: 240px;

            }

            &__title {
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 1px;
                font-family: Freight-Big;
                color: $black;
                @media(min-width: $tablet_landscape_width) {

                }
                @media (max-width: $tablet_landscape_width - 1px) {
                    margin-bottom: 0;

                }
            }

            &__brief {
                background-color: $grey-1;
                padding: 15px 20px;
                @media(min-width: $tablet_landscape_width) {
                    padding-bottom: 70px;
                }
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                @media(min-width: $tablet_landscape_width) {
                    flex-direction: row;
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 30px;
                }
            }

            &__btn {
                @extend .vk-btn, .vk-btn--default;
                font-family: Nunito Sans;
                text-transform: uppercase;
                min-height: 45px;
                min-width: 135px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                color: $black;
                width: 100%;
                @media (min-width: $tablet_landscape_width) {
                    width: auto;

                }
                @media (max-width: $tablet_landscape_width - 1px) {
                    display: none;

                }

            }

            &__price {
                font-size: 26px;
                font-weight: bold;
                line-height: 29px;
                color: $black;
                padding-bottom: 15px;
                @media(min-width: $tablet_landscape_width) {
                    padding-bottom: 0;
                }
                @media (max-width: $tablet_landscape_width - 1px) {
                    padding-left: 20px;
                    padding-top: 5px;

                }

                ._old {
                    font-size: 16px;
                    font-weight: 600;
                    color: #9b9b9b;
                    font-family: 'Nunito Sans', sans-serif;
                    padding-left: 5px;
                    display: none;
                }
            }

            &__text {

                @media(min-width: $tablet_landscape_width) {
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--style-2 {
        padding: 15px 0;
        @media(min-width: $tablet_landscape_width) {
        }

        .vk-shop-item {

            &__cat {
                background-color: rgba($black, .3);
                position: absolute;
                z-index: 11;
                top: 0;
                left: 0;
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.18;
                letter-spacing: 1.8px;
                color: #ffffff;
                padding: 4px 15px;
            }

            &__img {
                @extend .vk-img, .vk-img--cover;
                //height: 240px;
                @media(min-width: $tablet_landscape_width) {
                    height: 240px;
                }

            }

            &__title {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 1px;
                font-family: Freight-Big;
                color: $black;
                @media(min-width: $tablet_landscape_width) {
                    font-size: 20px;
                }
            }

            &__brief {
                font-family: Freight-Big;
                background-color: $white;
                text-align: left;

                padding: 10px 20px;
                @media(min-width: $tablet_landscape_width) {
                    padding: 15px 20px;
                }
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: space-between;

            }

            &__btn {
                @extend .vk-btn, .vk-btn--default;
                font-family: Nunito Sans;
                text-transform: uppercase;
                min-height: 45px;
                min-width: 135px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                color: $black;
                @media(max-width: $tablet_landscape_width - 1px) {
                    display: none;
                }

            }

            &__price {
                font-size: 26px;
                font-weight: bold;
                line-height: 29px;
                color: $black;
                @media(min-width: $tablet_landscape_width) {

                }

                ._old {
                    font-size: 16px;
                    font-weight: 600;
                    color: #9b9b9b;
                    font-family: 'Nunito Sans', sans-serif;
                    display: inline-block;
                    padding-left: 5px;
                }
            }

            &__text {

                @media(min-width: $tablet_landscape_width) {
                }

                p {
                    margin-bottom: 0;
                }
            }

            &__button {
                @media(min-width: $tablet_landscape_width) {
                }
            }
        }
    }

    &--style-3 {
        margin-bottom: 30px;
        @media(min-width: $tablet_landscape_width) {
            margin-bottom: 0;
        }

        .vk-shop-item {
            &__img {
                @extend .vk-img, .vk-img--cover;

                img {
                    @include transition(0.5s);
                }
            }

            &__title {

                line-height: 1;
                letter-spacing: 1.5px;
                color: $white;
                padding-top: 10px;
                margin-bottom: 0;
                font-size: 18px;
                @media(min-width: $tablet_landscape_width) {
                    font-size: 30px;
                    padding-top: 23px;
                }

            }
        }
    }

    &--style-4 {
        position: relative;
        height: 100%;


        .vk-shop-item {
            &__link {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 11;
            }

            &__img {
                @extend .vk-img, .vk-img--cover;
                height: 100%;

            }

            &__brief {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $white;
                padding: 10px;
                @media(min-width: $tablet_landscape_width) {
                    padding: 30px;

                }

                .collapse {
                    @media(max-width: $tablet_landscape_width - 1px) {
                        display: none !important;

                    }
                }
            }

            &__title {
                color: $white;
                margin-bottom: 0px;
                font-size: 24px;
                line-height: 0.93;
                letter-spacing: 1px;
                @media(min-width: $tablet_landscape_width) {
                    font-size: 40px;
                    line-height: 0.7;
                    margin-bottom: 19px;

                }
            }

            &__text {
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                color: #b7b7b7;
                padding-bottom: 30px;
                max-width: 330px;

                @media(min-width: $tablet_landscape_width) {
                    //width: 157px;
                    //height: 45px;
                }
            }

            &__btn {
                width: auto;
                height: 45px;
                @extend .vk-btn, .vk-btn--default;
                text-transform: uppercase;
            }
        }
    }

    &--style-5 {
        padding: 15px 0;
        @media(max-width: $tablet_portrait_width - 1px) {
            padding: 8px 0;
            display: flex;
        }

        .vk-shop-item {

            &__cat {
                background-color: rgba($black, .3);
                position: absolute;
                z-index: 11;
                top: 0;
                left: 0;
                font-size: 11px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.18;
                letter-spacing: 1.8px;
                color: #ffffff;
                padding: 4px 15px;
                @media(max-width: $tablet_portrait_width - 1px) {
                    display: none;
                }
            }

            &__img {
                @extend .vk-img, .vk-img--cover;
                width: 35vw;
                @media(min-width: $tablet_portrait_width) {
                    width: 100%;
                    height: 240px;
                }

            }

            &__title {
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 1px;
                font-family: Freight-Big;
                color: $black;
                @media(min-width: $tablet_landscape_width) {
                    font-size: 20px;
                }
                @media(max-width: $tablet_landscape_width - 1px) {
                    margin-bottom: 0;
                }
            }

            &__brief {
                background-color: $white;
                text-align: left;
                width: 1%;
                flex: 1 1 auto;
                padding: 15px 15px;
                @media(min-width: $tablet_portrait_width) {
                    width: 100%;
                    padding: 15px 20px;
                }
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: space-between;

            }

            &__btn {
                @extend .vk-btn, .vk-btn--default;
                font-family: Nunito Sans;
                text-transform: uppercase;
                min-height: 45px;
                min-width: 135px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                color: $black;
                @media(max-width: $tablet_landscape_width - 1px) {
                    display: none;
                }

            }

            &__price {
                font-size: 26px;
                font-weight: bold;
                line-height: 29px;
                color: $black;
                @media(min-width: $tablet_landscape_width) {

                }
                @media(max-width: $tablet_landscape_width - 1px) {
                    display: none;
                }

                ._old {
                    font-size: 16px;
                    font-weight: 600;
                    color: #9b9b9b;
                    font-family: 'Nunito Sans', sans-serif;
                    display: inline-block;
                    padding-left: 5px;
                }
            }

            &__text {

                @media(min-width: $tablet_landscape_width) {
                }

                p {
                    margin-bottom: 0;
                }
            }

            &__button {
                @media(min-width: $tablet_landscape_width) {
                }
            }
        }
    }
}

.vk-sd-nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.vk-hotel {
    &__table {

        ._row {
            display: flex;
            flex-wrap: wrap;
            background-color: $grey-1;
            border-top: 1px solid #d0d0d0;
            padding-left: 10px;
            padding-right: 10px;
            @media (min-width: $tablet_landscape_width) {
                padding-left: 20px;
                padding-right: 20px;

            }
        }

        ._col {
            padding: 10px 10px;
            text-align: left;
            font-size: 14px;
            line-height: 1.57;
            color: #2f2f2f;
            font-weight: bold;
            max-width: 30%;
            flex: 0 0 30%;
            @media (min-width: $tablet_landscape_width) {
                padding: 15px 20px;
                font-weight: 400;

            }

            &:nth-child(2n) {

                @media(max-width: $tablet_landscape_width - 1px) {
                    max-width: 70%;
                    flex: 0 0 70%;
                }

            }

            &:nth-child(4) {
                @media (min-width: $tablet_landscape_width) {
                    max-width: 40%;
                    flex: 0 0 40%;

                }
            }

        }

        ._col-title {
            font-size: 14px;
            line-height: 1.57;
            font-weight: normal;
            @media (min-width: $tablet_landscape_width) {
                display: none;
            }
        }

        &--heading {
            @extend .vk-hotel__table;

            ._row {
                background-color: $black;
            }

            ._col {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.38;
                color: #e2ba07;
                padding: 20px 20px;

            }

        }
    }
}

.vk-shop-detail {
    &__slider {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $grey-1;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &__wrapper {
        @media(min-width: $tablet_landscape_width) {
            display: flex;
        }

        > ._right {

            @media(min-width: $tablet_landscape_width) {
                width: $tour_right_width;
            }
        }

        > ._left {
            @media(min-width: $tablet_landscape_width) {
                width: 1%;
                flex: 1 1 auto;
                padding-right: 60px;
            }

        }
    }

    &__meta {
        display: flex;
        align-items: center;

        ._cat {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            color: #898989;
        }

        ._date {
            font-size: 11px;
            font-weight: 800;
            letter-spacing: 0.2px;
            color: #838383;
            min-width: 57px;
            height: 22px;
            padding: 2px 5px;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $grey-5;
            margin-left: 10px;
        }
    }

    &__title {
        font-size: 30px;
        color: #231f20;
        margin-bottom: 20px;
        @media(min-width: $tablet_landscape_width) {
            font-size: 30px;
            line-height: 1.2;
            letter-spacing: 0.4px;
        }

        &--style-1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-top: 20px;

            ._btn {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
                color: $black-1;
            }

            ._title {
                font-size: 30px;
                letter-spacing: 0.9px;
                color: #231f20;
                line-height: 1.23;

            }
        }

        &--style-2 {
            font-size: 30px;
            line-height: 1.15;
            letter-spacing: 1px;
            text-align: center;
            color: $black;
            margin-bottom: 50px;
            @media(min-width: $tablet_landscape_width) {
                font-size: 40px;
            }
        }
    }

    &__for {
        margin-bottom: 10px;
    }

    &__nav {
        margin-left: -5px;
        margin-right: -5px;
    }

    &__short-content {
        margin-bottom: 10px;

        p {
            margin-bottom: 0;
        }
    }

    &__qty {
        margin-bottom: 10px;

        label {
            display: block;
        }
    }

    &__btn-addtocart {
        @extend .vk-btn, .vk-btn--default;
    }

    &__content {
        ul {
            font-size: 14px;
            line-height: 1.64;
            letter-spacing: 0.3px;
            color: #464646;
            padding-left: 25px;
        }

        h3 {
            font-size: 30px;
            letter-spacing: 0.9px;
            color: #231f20;
            margin-bottom: 15px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.vk-shop {
    &__nav {
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
        background-color: $white;
        margin-bottom: 30px;
        position: sticky;
        top: 0;
        z-index: 8;
        @media(min-width: $tablet_landscape_width) {
            margin-bottom: 60px;
        }

        .vk-btn {
            @extend .vk-btn--default;
            text-transform: uppercase;
            width: 100%;
            //height: 55px;
            height: 45px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    &__nav-content {

        @media(min-width: $tablet_landscape_width) {
            display: flex;
            align-items: center;
        }

        ._right {
            display: none;
            @media(min-width: $tablet_landscape_width) {
                display: block;
                width: $tour_right_width;
            }
        }

        ._left {
            @media(min-width: $tablet_landscape_width) {

                width: 1%;
                flex: 1 1 auto;
            }
        }
    }

    &__list-sort {
        display: inline-block;

        a {
            @extend .vk-btn, .vk-btn--outline-default;
            float: left;
            border: none;
            background-color: $grey-1;
            color: #9b9b9b;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            margin: 5px;

            &:hover, &:focus, &.active {
                background-color: $yellow-1;
                color: #2f2f2f;
            }
        }
    }

    &__sort {

        padding-top: 30px;
        //padding-bottom: 30px;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 60px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media(max-width: $tablet_landscape_width - 1px) {
            //text-align: center;
        }


        ._left {
            font-size: 16px;
            font-weight: bold;
            color: #2f2f2f;

            @media(max-width: $tablet_landscape_width - 1px) {
                //margin-bottom: 10px;
                padding-bottom: 20px;

            }

            span {
                font-weight: 400;
                color: #5a5a5a;
            }
        }

        ._right {
            //display: none;
            @media(min-width: $tablet_landscape_width) {
                display: flex;
                align-items: center;
            }
        }

        ._label {
            font-size: 14px;
            color: #5a5a5a;
            margin-right: 15px;
        }

    }

    &__top {
        background-color: $grey-5;
        padding-top: 30px;
        padding-bottom: 30px;
        @include transition(0.3s);
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        @media(max-width: $tablet_landscape_width - 1px) {
            padding-bottom: 0;
        }

        &--style-1 {
            //@extend .vk-shop__top;
            background-color: transparent;
            padding: 0;


            &.active {
                .vk-search {
                    opacity: 1;
                    visibility: visible;
                    padding: 0;
                    background-color: transparent;
                }

                &.hide {
                    .vk-search {
                        opacity: 0;
                        visibility: hidden;
                    }

                    ._text {
                        display: none;
                        @media(max-width: 1600px) {

                        }
                    }
                }


            }
        }

        .vk-button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);

            ._btn {
                @extend .vk-btn, .vk-btn--default;
                width: 153px;
                //height: 70px;
                height: 100%;
                background-color: $yellow-1;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.86;
                color: #2f2f2f;
                @media (max-width: 1499px) {
                    width: auto;
                }

                ._icon {
                    &:before {
                        content: "\f070";
                        margin-right: 10px;
                        @media (max-width: 1499px) {
                            margin-right: 0;
                        }
                    }
                }

                ._text {

                    @media (max-width: 1499px) {
                        display: none;
                    }
                }

            }
        }

        &.active {
            .vk-button {
                @media(min-width: $tablet_landscape_width) {
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media(min-width: $tablet_landscape_width) {
                position: fixed;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $yellow-1;
                z-index: 11;
            }

            ~ .container {

                @media(min-width: $tablet_landscape_width) {
                    padding-top: 144px !important;
                }
            }

            .vk-search {
                .vk-btn {
                    background-color: $black;
                    font-size: 14px;
                    color: $white;
                    height: 50px;
                    position: relative;
                    overflow: hidden;
                    @media(min-width: $tablet_landscape_width) {
                        width: 203px;
                    }

                    span {
                        position: relative;
                        z-index: 1;
                    }

                    &:before {
                        content: '';
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        background-image: linear-gradient(159deg, #1d1d1d, $black);
                        position: absolute;
                        z-index: 0;
                        transform: skew(45deg) translateX(120%);
                        @include transition(0.3s);
                    }

                    &:hover, &:focus {
                        &:before {
                            transform: skew(45deg) translateX(50%);
                        }
                    }

                    &:focus {
                        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($black, 0.5);
                    }
                }

                &--style-2 {
                    .vk-btn {
                        height: 42px;
                    }
                }
            }

            .vk-dropdown {
                height: 42px;

                ._title {
                    margin-bottom: 0;
                }

                ._text {
                    font-size: 14px;
                }
            }

            &.hide {
                background-color: transparent;

                .container {
                    @media(min-width: $tablet_landscape_width) {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                .vk-button {
                    @include transition(0.3s);
                    opacity: 1;
                    visibility: visible;

                    ._btn {
                        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);

                        ._icon {
                            &:before {
                                content: "\f1de";
                                margin-right: 10px;
                            }
                        }

                        ._text {
                            display: inline-block;

                        }
                    }
                }
            }
        }


    }

    &__more {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        @media(min-width: $tablet_landscape_width) {
            margin-top: 60px;
        }

        a {
            @extend .vk-btn, .vk-btn--black;
            font-family: Nunito Sans;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.3px;
            text-align: center;
            color: $white;
            min-height: 55px;
            min-width: 182px;
            text-transform: uppercase;
        }
    }

    &__relate {

        @media(min-width: $tablet_landscape_width) {
        }
    }

    &__list {

        &--style-5 {
            .vk-shop-item {
                &__img {
                    @media (min-width: 768px) and (max-width: 991px) {
                        height: 140px;
                    }
                    @media (max-width: 767px) {
                        width: 40vw;
                    }
                }

                &__brief {
                    @media (max-width: 767px) {
                        width: 1%;
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}


/*END:SHOP*/
