/*BEGIN: SHOPCART*/

.vk-shopcart-item{
    display: flex;

    &__img{
        @extend .vk-img,.vk-img--cover;
        @include size(60px);
        background-color: $grey-4;
        @media (min-width:$tablet_landscape_width)  {

        }

    }

    &__brief{
        padding-left: 15px;
        min-width: 200px;
        width: 1%;
        flex:1 1 auto;
        @media (min-width:$tablet_landscape_width)  {

        }
    }

    &__title{
        font-size: 15px;
        margin-bottom: 5px;
        @media (min-width:$tablet_landscape_width)  {

        }
    }
    &__text{
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        ._color{
            display: inline-block;
            background-color: $grey-1;
            @include size(20px);
            margin-left: 8px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
        color:lighten($black-1,20);
        p{
            margin-bottom: 0;
            &:first-child{
                display: flex;
                align-items: center;
            }

           &:after{
               content:'|';
               padding:0 10px;
               font-size: 12px;
           }
            &:last-child{
                &:after{
                    display: none;
                }

            }
        }
    }
    &__price{
        white-space: nowrap;
        &--total{
            @extend .vk-shopcart-item__price;
        }
        &--box{
            @extend .vk-shopcart-item__price;
        }
    }

    &__btn-del{
        color:$red;
        ._icon{
            background-color: $red;
            color:$white;
            padding: 5px;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    &__text{

        @media (min-width:$tablet_landscape_width)  {

        }
        p{
            margin-bottom: 0;
        }
    }
}
.vk-shopcart{

    &__title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__total{
        background-color: $grey-4;
        padding:10px 15px;
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        b,span{
            color:$red;
        }
    }

    &__bot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__btn-continue{
        @extend .vk-btn,.vk-btn--link;
         font-size: 14px;
         text-transform: uppercase;
        min-height: 40px;
        padding-left: 0px;
        padding-right: 20px;
        ._icon{
            padding-right: 5px;
        }
    }
    &__btn-removeAll{
        @extend .vk-btn,.vk-btn--danger;
        font-size: 14px;
         min-height: 40px;
         text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__btn-checkout{
        @extend .vk-btn,.vk-btn--blue-1;
        font-size: 14px;
        text-transform: uppercase;
        min-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        &--checkout{

        }
    }

}

/*END: SHOPCART*/