/*BEGIN:BANNER*/

.vk-bb-item {
  text-align: center;
  padding: 5px 20px;
  position: relative;
  height: 100%;

  @media(max-width: $tablet_landscape_width - 1px) {
    padding: 30px 15px;
    padding-bottom: 36px;
    background-color: $black;
  }

  &:before {
    content: "";
    position: absolute;
    width: 21px;
    top: 0;
    bottom: 0;
    right: -35px;
    border-left: 1px solid rgba(#ccc, 0.7);

    @media(max-width: $tablet_landscape_width - 1px) {
      content: "";
      @include size(18px);
      background: url("../images/down-1.png") center bottom no-repeat;
      background-size: contain;
      position: absolute;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      border-left: 0;
      right: auto;
    }

  }

  &:after {
    content: "";
    position: absolute;
    width: 21px;
    top: 0;
    bottom: 0;
    right: -25px;
    background: url("../images/down-1.png") center right no-repeat;

    //display: none;
    @media(max-width: $tablet_landscape_width - 1px) {
      width: 100%;
      right: 15px;
      left: 15px;
      top: auto;
      bottom: 6px;
      height: 1px;
      background: linear-gradient(to right, $black, #2a2a2a 50%, $black);

    }
  }


  &.last {
    &:after, &:before {
      display: none;

    }

    &:before {
      //@media(max-width: $tablet_landscape_width - 1px) {
      //    display: block;
      //    bottom: -7px;
      //}
    }
  }

  &__title {
    font-size: 30px;
    line-height: 0.93;
    letter-spacing: 1px;
    text-align: center;
    color: $black;
    margin-bottom: 14px;
    @media(max-width: $tablet_landscape_width - 1px) {
      color: $white;
      font-size: 26px;
    }
  }

  &__text {

    line-height: 1.5;
    text-align: center;
    color: #2f2f2f;
    @media(max-width: $tablet_landscape_width - 1px) {
      color: #9b9b9b;
      font-size: 14px;
    }


  }
}



.vk-banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__list {
    @media(min-width: $tablet_landscape_width) {
      max-width: 760px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__hotline {
    display: flex;

    ._left, ._right {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ._right {
      width: 147px;

      a {
        @extend .vk-btn, .vk-btn--default;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: 0.3px;
        text-align: center;
        color: $black;
        height: 100%;
        width: 100%;
      }

    }

    ._left {
      flex: 1 1 auto;
      position: relative;

      ._link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      ._label {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.55;
        color: #9b9b9b;
        display: inline-block;
        padding-right: 8px;
      }

      ._icon {
        margin-right: 5px;
      }

      ._text {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.21;
        color: #2f2f2f;
      }
    }
  }

  &__content {
    padding-top: 75px;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 140px;
    }
  }

  &__slider {
    position: relative;

    ._top {

    }

    ._bot {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      max-width: 744px;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 10px;
      @media(min-width: $tablet_landscape_width) {
        padding-bottom: 30px;
      }

      .vk-img {
        @extend .vk-img--cover;
        padding: 2px;
        background-color: #fff;
        //height: 64px;
        //width: 104px;
      }

      ._item {
        padding-left: 5px;
        padding-right: 5px;
        @media(min-width: $tablet_landscape_width) {
          padding-left: 10px;
          padding-right: 10px;
        }

        &.slick-current {
          .vk-img {
            background-color: $yellow-1;
          }

        }
      }
    }

    ._more {

    }

    ._label {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 1.2px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--style-1 {
      @extend .vk-banner__slider;

      ._top {
        .vk-img {
          @extend .vk-img--cover;

          @media(max-width: $tablet_portrait_width) {
            height: 35vh;
          }
        }
      }

      ._bot {
        flex-wrap: wrap;
        width: 100%;

        .vk-img {
          width: 104px;
          height: 64px;
        }

        ._left {
          width: calc(2 / 3 * 100%);
          @media (min-width: $tablet_portrait_width) {
            width: calc(5 / 6 * 100%);
          }
        }

        ._more {
          width: calc(1 / 3 * 100%);
          @media (min-width: $tablet_portrait_width) {
            width: calc(1 / 6 * 100%);
          }
        }
      }
    }
  }

  &__bot-list {
    padding: 30px 0;
    @media(max-width: $tablet_landscape_width - 1px) {
      padding: 0;
      background-color: $black;

    }
  }

  &--style-1 {
    @extend .vk-banner;
    background-image: url("../images/banner-1.jpg");
    text-align: center;
    padding-top: 30px;
    padding-bottom: 86px;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .vk-banner__content {
      padding: 0;
    }

    ._wrapper {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    ._title {
      font-family: Freight-Big;
      text-align: center;
      color: $white;
      margin-bottom: 22px;
      font-size: 24px;
      line-height: 1.33;
      letter-spacing: 1.2px;
      @media(min-width: $tablet_landscape_width) {
        font-size: 40px;
        line-height: 1.15;
        letter-spacing: 1px;
      }
    }

    ._title-sub {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.3px;
      color: #f6f6f6;
      margin-bottom: 33px;
    }

    ._btn {
      @extend .vk-btn, .vk-btn--default;
      font-size: 14px;
      font-weight: 600;
      line-height: 2.21;
      width: 228px;
      height: 55px;
      text-transform: uppercase;
    }
  }

  &--style-2 {
    @extend .vk-banner;
    background-image: url("../images/banner-2.jpg");

    .vk-banner {
      &__content {
        padding-top: 0;
      }
    }

    ._title {
      font-size: 50px;
      line-height: 1.02;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
      @media(min-width: $tablet_landscape_width) {
        font-size: 60px;
      }
    }

    ._wrapper {
      padding: 230px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      @media(min-width: $tablet_landscape_width) {

        padding-top: 210px;
        padding-bottom: 210px;
      }

      @media(min-width: $full_hd_width) {
        min-height: 625px;
        padding-top: 345px;
        padding-bottom: 249px;
      }
    }
  }

  &--style-3 {
    @extend .vk-banner;
    background-image: url("../images/banner-3.jpg");
    background-size: cover;
    color: $white;
    //padding-top: 80px;
    padding-bottom: 50px;

    ._title {
      max-width: 707px;
      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
      letter-spacing: 0.9px;
      text-align: center;
      line-height: 1.4;
      margin-bottom: 30px;
      @media(min-width: $tablet_landscape_width) {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }


  }

  &--style-4 {
    @extend .vk-banner--style-2;
    background-image: url("../images/banner-4.jpg");

    ._wrapper {
      padding-bottom: 270px;
      padding-top: 225px;
      @media(min-width: $tablet_landscape_width) {
        padding-bottom: 180px;
        padding-top: 180px;
      }
      @media(min-width: $full_hd_width) {
        padding-bottom: 231px;
        padding-top: 176px;
      }
    }

    ._title-sub {
      text-shadow: 0 0px 15px rgba(0, 0, 0, 1);
      font-family: Nunito Sans;
      font-size: 18px;
      //line-height: 2.17;
      letter-spacing: 0.4px;
      text-align: center;
      color: $white;
    }
  }

  &--style-5 {
    @extend .vk-banner--style-2;
    background-image: url("../images/banner-5.jpg");

    ._wrapper {
      text-align: center;
      min-height: 840px;
    }

    ._title-sub {
      text-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
      font-family: NunitoSans;
      font-size: 28px;
      line-height: 2.82;
      text-align: center;
      color: $white;
    }

    ._title {
      text-shadow: 0 6px 11px rgba(0, 0, 0, 0.27);
      font-family: Freight-Big;
      font-size: 80px;
      line-height: 1.03;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
      margin-bottom: 50px;
    }

    ._btn {
      @extend .vk-btn, .vk-btn--default;
      height: 42px;
      min-width: 135px;
      font-size: 12px;
      font-weight: 600;
      line-height: 2.58;
      text-transform: uppercase;
    }
  }

  &--style-6 {
    @extend .vk-banner;
    background-image: url("../images/about-1.jpg");

    ._title {
      text-align: center;
      color: $white;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 1.2;
      letter-spacing: 0.4px;
      @media(min-width: $tablet_landscape_width) {
        font-size: 55px;
        line-height: 0.84;
        letter-spacing: 1.1px;
        margin-bottom: 45px;
      }
    }

    ._text {
      font-size: 14px;
      line-height: 1.64;
      text-align: center;
      color: #e7e7e7;
      @media(min-width: $tablet_landscape_width) {
        font-size: 16px;
      }
    }

    ._wrapper {
      padding-top: 80px;
      padding-bottom: 80px;

      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 736px;
      margin-right: auto;
      margin-left: auto;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: $white;
      @media(min-width: $tablet_landscape_width) {

        padding-top: 120px;
        padding-bottom: 120px;
        //padding-top: 247px;
      }

      @media(min-width: $full_hd_width) {
        min-height: 850px;
        padding-top: 165px;
        padding-bottom: 196px;
        //padding-top: 247px;
      }
    }
  }

  &--style-7 {
    @extend .vk-banner;
    background-image: url("../images/home-1.jpg");

    ._title-1 {
      text-shadow: 0 6px 11px rgba(0, 0, 0, 0.27);
      font-family: Freight-Big;
      font-size: 60px;
      line-height: 1;
      text-align: center;
      color: $white;
      margin-bottom: 20px;
      letter-spacing: 0.8px;

      @media(min-width: $tablet_landscape_width) {
        letter-spacing: 1.4px;
        font-size: 92px;
        margin-bottom: 50px;

      }
      @media(min-width: $full_hd_width) {
        font-size: 109px;
        margin-bottom: 80px;

      }
    }

    ._title-sub {
      text-align: center;
      color: $white;
      margin-bottom: 0px;
      font-size: 18px;
      font-family: 'Nunito Sans', sans-serif;
      text-shadow: 0 0 20px black;

      @media(min-width: $tablet_landscape_width) {
        font-size: 28px;
        line-height: 1;
        margin-bottom: 15px;
      }
    }

    ._wrapper {
      padding-top: 189px;
      padding-bottom: 136px;
      @media(min-width: $tablet_landscape_width) {

        padding-bottom: 230px;
        padding-top: 120px;
      }

      @media(min-width: $full_hd_width) {

        padding-bottom: 310px;
        padding-top: 190px;
      }
    }

    .vk-banner {
      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(min-width: $tablet_landscape_width) {
          //min-height: 1017px;
        }


      }
    }

    ._form {

      margin-left: auto;
      margin-right: auto;

      @media(min-width: $tablet_landscape_width) {
        max-width: 800px;
        width: 800px;
      }

    }

    .vk-dropdown {
      ._title {
        margin-bottom: 4px;
      }

      ._text {
        font-size: 20px;
        line-height: 1.5;
        color: $black-1;
      }
    }
  }

  &--style-8 {
    @extend .vk-banner--style-1;
    background-image: url("../images/banner-6.jpg");


    .vk-banner {
      &__content {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

  }

  &--style-1,
  &--style-2,
  &--style-3,
  &--style-4,
  &--style-5,
  &--style-6,
  &--style-7,
  &--style-8 {
    ._title {
      text-shadow: 0 0 20px black;
    }
  }

  &--style-1,
  &--style-2,
  &--style-4,
  &--style-5,
  &--style-6,
  &--style-8 {
    ._text {
      text-shadow: 0 0px 15px rgba(0, 0, 0, 1);
    }
  }

}

.vk-banner-item {
  text-align: center;
  padding: 20px 0;

  &__img {
    @extend .vk-img, .vk-img--mw100;
    @include size(60px);

  }

  &__brief {
    padding-top: 15px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.43;
    letter-spacing: 0.9px;
    color: $white;
    margin-bottom: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #f6f6f6;

    p {
      margin-bottom: 0;
    }
  }
}


/*END:BANNER*/
