/*BEGIN:SIDEBAR*/
.vk-sidebar-item{
	display: flex;
	border-bottom:1px solid #d0d0d0;
	padding-top: 15px;
	padding-bottom: 15px;
	&__num{
		@include size(50px);
		border-radius: 50px;
		background-color: $black;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.63;
		letter-spacing: 0.3px;
		color: $white;
	}
	&__brief{
		width: 1%;
		flex: 1 1 auto;
		padding-left: 20px;
	}
	&__title{
		font-family: 'Nunito Sans', sans-serif;
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.63;
		letter-spacing: 0.3px;
		color: #484848;
	}
	&__text{
		font-size: 14px;
		line-height: 1.57;
		letter-spacing: 0.3px;
		color: $black-1;
	}
}

.vk-sidebar{
	position: relative;
	&__sticky{
		@media(min-width:$tablet_landscape_width){
			position: sticky;
			top: 75px;
		}
	}

	&__list{
		@extend .vk-list;
		&--shop{
			li{
				+li{
					border-top:1px solid $grey-1;
				}
				a{
					display: block;
					padding:8px 0;

				}
			}
		}

		&--blog{
			li{
				+li{
					border-top:1px dashed $grey-1;
				}
				a{

					display: block;
					padding:8px 0;
					padding-left: 15px;
					position: relative;
					&:before{
						content:'';
						@include size(5px);
						background-color: $black-1;
						position: absolute;
						top: 19px;
						left: 0;

					}

				}
			}
		}
		&--style-1{

			._item{
				&:last-child{
					.vk-sidebar-item{
						border-bottom:0;
					}
				}
			}


		}

	}
	&--style-1{
		position: relative;
		height: 100%;
		.vk-sidebar{
			&__box{
				margin-bottom: 40px;
				background-color: $white;
				border:1px solid #d0d0d0;
				@media(min-width:$tablet_landscape_width){

				}
				&--style-1{
					@extend .vk-sidebar__box;
					@include transition(0.3s);
					&:hover{
						box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.2);
					}

				}
			}
			&__title{
				font-size: 24px;
				font-weight: bold;
				line-height: 1.25;
				letter-spacing: 0.5px;
				color: #231f20;
				margin-bottom: 0;
				padding:15px 30px;
				border-bottom: 1px solid #d0d0d0;
				@media(min-width:$tablet_landscape_width){

				}
			}
			&__wrapper{
				padding-top: 20px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	&--style-2{
		padding-top: 35px;
		margin-top: 40px;
		position: relative;
		@media(min-width:$tablet_landscape_width){
			padding-top: 0;
			margin-top: 0;
		}

		&:before{
			content:'';
			position: absolute;
			top: 0;
			left: -15px;
			right: 	-15px;
			border-top:1px solid #dcdcdc;
			@media(min-width:$tablet_landscape_width){
				display: none;
			}
		}
		.vk-sidebar{
			&__box{
				margin-bottom: 40px;
				background-color: $white;
				@media(min-width:$tablet_landscape_width){

				}
				&--style-1{
					@extend .vk-sidebar__box;
					text-align: center;
					max-width: 270px;
					margin-left: auto;
					margin-right: auto;
					@media(min-width:$tablet_landscape_width){
						text-align: left;
						max-width: 100%;
					}

					@media(max-width:$tablet_landscape_width - 1px){
						margin-bottom: 0;
					}
				}

			}
			&__title{
				font-family: Freight-Big;
				font-size: 30px;
				line-height: 1.33;
				letter-spacing: 0.9px;
				color: #231f20;
				margin-bottom: 10px;
				@media(min-width:$tablet_landscape_width){

				}
			}
			&__list{
				li{
					padding:3px 0;
				}
			}
			&__wrapper{
				padding-top: 20px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

/*END:SIDEBAR*/
