/*BEGIN: ACCORDION*/
$card-header-background: $white;
$card-border-color: #d0d0d0;

.accordion {

  .card-header {
    font-family: 'Nunito Sans', sans-serif;
  }

  &--style-1 {
    .card {
      border-radius: 0;
      border: 1px solid $card-border-color;
    }

    .card-header {
      background-color: $card-header-background;
      padding: 0;
      border: none;

      box-sizing: content-box;
    }

    .card-link {
      display: block;
      padding: 5px 10px;
      position: relative;
    }

    .card-body {
      border-top: 1px solid $card-border-color;
    }
  }

  &--style-2 {
    .card {
      border-radius: 0;
      border: none;
    }

    .card-header {
      background-color: $card-header-background;
      padding: 0;
      border: none;

      box-sizing: content-box;
    }

    .card-link {
      display: block;
      padding: 19px 0px;
      position: relative;
      font-size: 16px;
      color: $yellow-1;

      &:after {
        content: "\f106";
        font-family: "FontAwesome";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;

      }

      &.collapsed {
        color: #231f20;

        &:after {
          content: "\f107";
        }

      }

      &:hover {
        color: $yellow-1
      }
    }

    .card-body {
      border-top: 0px solid $card-border-color;
      padding: 0;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 1.57;
    }
  }

  &--style-3 {
    .card {
      border-radius: 0;
      border: 1px solid $card-border-color;
    }

    .card-header {
      background-color: $card-header-background;
      padding: 0;
      border: none;

      box-sizing: content-box;
    }

    .card-link {
      display: block;
      padding: 10px 10px;
      padding-left: 50px;
      position: relative;
      background-color: lighten($pink-1, 55);

      &:before {
        content: '';
        @include size(20px);
        border: 1px solid $pink-1;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 11px;
      }

      &:after {
        content: '';
        @include size(14px);
        top: 14px;
        left: 18px;
        position: absolute;
        background-color: $white;
        border-radius: 50%;
        border: 5px solid $pink-1;
      }

      &.collapsed {
        background-color: $white;

        &:after {
          display: none;

        }
      }
    }

    .card-body {
      border-top: 1px solid $card-border-color;
    }
  }

  &--style-4 {
    @extend .accordion--style-2;

    .card {
      border-top: 1px solid #e9e9e9;
      background-color: transparent;
    }

    .card-header {
      background-color: transparent;
    }

    .card-body {
      p {
        margin-bottom: 8px;

      }

      ._link {
        text-decoration: underline;
      }
    }

    .card-link {
      font-weight: bold;
    }
  }

  &--style-5 {
    @extend .accordion--style-2;

    .card {
      border-top: 1px solid rgba($black, 0.1);
    }

    .card-link {
      font-weight: bold;
    }
  }

  &--style-6 {
    @extend .accordion--style-2;

    .card {

      + .card {
        border-top: 1px solid rgba($black, 0.75);
      }
    }

    .card-link {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.57;
      color: #e2ba07 !important;
      background-color: #2f2f2f;
      padding: 15px 0;
      padding-left: 40px;
      text-align: left;
    }

    .card-body {
      padding-bottom: 0;
    }
  }

}

/*END: ACCORDION*/
