/*BEGIN: BUTTON*/
@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

$line-height-lg:         1.5 !default;
$line-height-sm:         1.5 !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;

$link-color:            theme-color("primary") !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


$font-weight-normal: normal !default;
$font-size-base: 1rem;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$input-btn-border-width:         1px; // For form controls and buttons

$input-btn-padding-y:       .5rem;
$input-btn-padding-x:       .75rem;


$input-btn-line-height:     1.25;

$input-btn-padding-y-sm:    .25rem;
$input-btn-padding-x-sm:    .5rem;
$input-btn-line-height-sm:  1.5;

$input-btn-padding-y-lg:    .5rem;
$input-btn-padding-x-lg:    1rem;
$input-btn-line-height-lg:  1.5;


$btn-font-weight:                normal ;
$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);
$btn-focus-box-shadow:           0 0 0 3px rgba(theme-color("primary"), .25);
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125);

$btn-link-disabled-color:        $gray-600;

$btn-block-spacing-y:            .5rem;

// Allows for customizing button radius independently from global border radius

$border-radius:          0rem;
$border-radius-lg:       .3rem;
$border-radius-sm:       .2rem;

$btn-border-radius:              $border-radius;
$btn-border-radius-lg:           $border-radius-lg;
$btn-border-radius-sm:           $border-radius-sm;

$btn-transition:                  .15s;


//function
@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

//mixin
// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    line-height: $line-height;
    @include border-radius($border-radius);
}

// Color contrast
@mixin color-yiq($color) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= 150) {
        color: #111;
    } @else {
        color: #fff;
    }
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%)) {
    @include color-yiq($background);
    background-color: $background;
    border-color: $border;

    &:hover {
        @include color-yiq($background);
        background-color: $active-background;
        border-color: $active-border;
    }

    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
       box-shadow: $btn-box-shadow, 0 0 0 3px rgba($border, .5);
        @include color-yiq($background);

    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        background-color: $background;
        border-color: $border;
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
        background-color: $active-background;
        background-image: none; // Remove the gradient for the pressed/active state
        border-color: $active-border;
    }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
    color: $color;
    background-color: transparent;
    background-image: none;
    border-color: $color;

    &:hover {
        color: $color-hover;
        background-color: $color;
        border-color: $color;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 3px rgba($color, .5);
    }

    &.disabled,
    &:disabled {
        color: $color;
        background-color: transparent;
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
        color: $color-hover;
        background-color: $color;
        border-color: $color;
    }
}




//
// Base styles
//

.vk-btn {
    display: inline-flex;
    font-weight: $btn-font-weight;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    border: $input-btn-border-width solid transparent;
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);
    @include transition($btn-transition);

    // Share hover and focus styles
    @include hover-focus {
        text-decoration: none;
    }
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: .65;
        box-shadow: none;
    }

    &:active,
    &.active {
        background-image: none;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.vk-btn.disabled,
fieldset[disabled] a.vk-btn {
    pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
    .vk-btn--#{$color} {
        @include button-variant($value, $value);
    }
}

@each $color, $value in $theme-colors {
    .vk-btn--outline-#{$color} {
        @include button-outline-variant($value, #fff);
    }
}


//
// Link buttons
//

// Make a button look and behave like a link
.vk-btn--link {
    font-weight: $font-weight-normal;
    color: $link-color;
    border-radius: 0;

    &,
    &:active,
    &.active,
    &:disabled {
        background-color: transparent;
        box-shadow: none;
    }
    &,
    &:focus,
    &:active {
        border-color: transparent;
        box-shadow: none;
    }
    @include hover {
        border-color: transparent;
    }
    @include hover-focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }
    &:disabled {
        color: $btn-link-disabled-color;

        @include hover-focus {
            text-decoration: none;
        }
    }
}


//
// Button Sizes
//

.vk-btn--lg {
    @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}

.vk-btn--sm {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.vk-btn--block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.vk-btn--block + .vk-btn--block {
    margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.vk-btn--block {
        width: 100%;
    }
}
.vk-btn--outline-white{
    &:hover{
        color:$black-1;
    }
}
.vk-btn--default{
    &:hover,&:focus{
        color:$white;
    }
}
.vk-btn--black{
    position: relative;
    border:none;
    overflow: hidden;
    span{
        position: relative;
        z-index: 1;
    }
    &:before{
        content:'';
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(159deg, #1d1d1d, $black);
        position: absolute;
        z-index: 0;
        transform: skew(45deg) translateX(120%);
        @include transition(0.3s);
    }
    &:hover,&:focus{
        &:before{
            transform: skew(45deg) translateX(50%);
        }
    }

}


/*END: BUTTON*/