/*BEGIN: CALCULATOR*/
$calculator-size: 40px;
$calculator-offset: 5px;
$calculator-field-size: $calculator-size*3 + $calculator-offset * 2;
$calculator-btn-offset:3px;

$calculator-border: lighten($pink-1,40);

.vk-calculator {
	display: inline-flex;
	position: relative;
	width: 100%;
	.form-control{
		background-color: #e8e8e8;
		order: 1;
		//text-align: center;
		padding-right: 20px;
		border-radius: 0;
		border-color: $calculator-border;
	}

	._btn{
		border-radius: 0;
		@include size(20px);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #e8e8e8;
		position: absolute;
		right: 10px;
		font-size: 10px;
		&._minus{

			bottom: 8px;


		}
		&._plus{
			top: 8px;
		}
	}
}

/*END: CALCULATOR*/
