/*BEGIN: COMMENT*/
.vk-comment-item {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 15px 0;
  @media(min-width: $tablet_landscape_width) {
    padding: 30px 40px;
    display: flex;
  }

  &__img {
    @extend .vk-img, .vk-img--cover;
    @include size(60px);
    border-radius: 50px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.64;
    color: #585858;
    padding-top: 10px;
    @media(min-width: $tablet_landscape_width) {
      width: 1%;
      flex: 1 1 auto;
      padding-left: 20px;
      padding-top: 0;
    }

    b, strong {
      font-weight: bold;
      color: #202020;
    }
  }

  &--style-1 {
    display: block;

    .vk-comment-item {
      &__text {
        padding-left: 0;
        width: 100%;
      }

      &__title {
        font-size: 18px;
        margin-bottom: 0px;
      }

      &__top {
        margin-bottom: 5px;
        @media (min-width: 768px) {
          display: flex;
          justify-content: space-between;
        }
      }
      &__date {
        font-size: 12px;
        font-style: italic;
        @media (min-width: 768px) {
          padding-left: 15px;
        }
      }
    }
  }
}

.vk-comment__list {
  transition: all 0.3s;
}

/*END: COMMENT*/

