/*BEGIN: DROPDOWN*/
.vk-dropdown {
  position: relative;
  padding: 10px 15px;
  min-width: 150px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include transition(0.3s);

  ._list {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
    background-color: $white;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 2;

      ._list_wrapper{
          max-height: inherit;
          overflow: auto;
      }
  }

  ._field {
    position: relative;
    margin-right: -15px;

    ._btn {
      @extend .vk-btn, .vk-btn--outline-default;
      background-color: transparent !important;
      width: auto !important;
      height: auto !important;
      color: #9b9b9b !important;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 5px !important;
      font-size: 18px !important;
    }

    .form-control {
      border-radius: 0;
      padding: 5px 0px;
      min-height: 0;
      font-size: 20px;
      line-height: 1.5;
      color: $black-1;
      font-family: Freight-Big;
      min-width: 250px;
      box-shadow: none !important;
      border-color: transparent;

    }

  }


  a, ._icon {
    @include transition(0.15s);

  }

  ._text {
    font-family: Freight-Big;

  }

  ._text-1 {
    display: inline-block;
    padding-left: 8px;
  }

  ._title, ._text {
    @include transition(0.3s);
  }

  a {
    &:after {
      @include transition(0.15s);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &--style-1 {
    @extend .vk-dropdown;
    min-height: 55px;

    ._icon {
      margin-left: 5px;
    }

    ._text {
      font-family: "Nunito Sans";
    }

    ._current {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.88;
      color: $yellow-1;

    }

    ._list {
      position: absolute;
      background-color: #161616;

      a {
        line-height: 1.57;
        color: #9b9b9b;
        display: block;
        padding: 12px 15px;
        height: 45px;
        position: relative;

        &:hover, &.active {
          background-color: #2f2f2f;
          color: $white;
        }

        &:after {
          content: '';
          height: 1px;
          left: 10px;
          right: 10px;
          bottom: 0;
          background-color: #2f2f2f;
          position: absolute;
        }
      }
    }
  }

  &--style-2 {
    @extend .vk-dropdown;
    padding: 0;

    ._title {
      font-size: 12px;
      color: #7c7c7c;
    }

    ._text {
      font-weight: 600;
      color: #2f2f2f;
    }

    ._icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    ._current {
      position: relative;
      padding: 3px 15px;
      padding-right: 30px;


    }

    ._list {
      position: absolute;
      z-index: 2;

      a {
        height: 45px;
        color: #231f20;
        border-bottom: 1px solid #d0d0d0;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        position: relative;
        padding-right: 45px;
        white-space: nowrap;


        &:last-child {
          border: none;
        }

        &:hover, &.active {
          background-color: $grey-1;

        }

      }
    }

  }

  &--style-3 {
    @extend .vk-dropdown;
    padding: 0;

    ._title {
      font-size: 12px;
      color: #7c7c7c;
    }

    ._text {
      font-weight: 600;
      color: #2f2f2f;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }

    ._icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    ._field {
      .form-control {
        padding-right: 35px;
      }
    }

    ._current {
      position: relative;
      padding: 3px 15px;
      padding-right: 30px;


    }

    ._list {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
      background-color: $white;
      position: absolute;
      z-index: 2;

      a {
        height: 45px;
        color: #231f20;
        border-bottom: 1px solid #d0d0d0;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        position: relative;
        padding-right: 45px;
        white-space: nowrap;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 45px;
          opacity: 0;
          background: url("../images/icon-check.svg") center center no-repeat;

        }

        &:last-child {
          border: none;
        }

        &:hover {
          background-color: $grey-1;

          &:after {
            opacity: .1;
          }
        }

        &.active {
          background-color: $grey-1;

          &:after {
            opacity: 1;

          }
        }
      }
    }

    &.active {
      ._icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }

  }
}

/*END: DROPDOWN*/

