/*BEGIN: FORM*/
$form-height: 40px;
$form-offset: 15px;
.vk-form {
    &--contact {
        .form-group {
            margin-bottom: 20px;
        }

        ._label {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.3px;
            color: #231f20;
            margin-bottom: 10px;
        }

        .form-control {
            height: 55px;
            background-color: #e8e8e8;
            border-radius: 0;
            border-color: transparent;
        }

        textarea {
            min-height: 100px;
        }

        .vk-button {
            @media(min-width: $tablet_landscape_width) {
                text-align: right;
            }

        }

        .vk-btn {
            @extend .vk-btn--default;
            min-width: 131px;
            height: 55px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-transform: uppercase;
        }
    }

    &--contact-member {
        @extend .vk-form--contact;

        .vk-button {
            text-align: center;
        }
    }

    &--comment {
        ._title {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.3px;
            color: #231f20;
            margin-bottom: 10px;
        }

        .vk-button {
            text-align: right;
            @media(max-width: $tablet_landscape_width - 1px) {
                text-align: left;
            }
        }

        .vk-btn {
            @extend .vk-btn--default;
            width: auto;
            height: 55px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.71;
            letter-spacing: 0.3px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            min-height: 55px;
            background-color: #e8e8e8;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.3px;
            border-radius: 0;
            border-color: transparent;
            @include placeholder-color {
                color: #9b9b9b;
            }
        }

        textarea.form-control {
            min-height: 100px;
        }
    }

    &--newsregister {
        position: relative;

        .form-control {
            border-radius: 0;
            height: 45px;
            background-color: #e8e8e8;
            border-color: transparent;
            padding-right: 60px;
        }

        .vk-btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            @extend .vk-btn--default;
        }

        &.__style-1 {
            border: none;

            .form-control {
                height: 32px;
                width: 240px;
                min-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                font-size: 15px;
            }

            .vk-btn {
                height: 30px;
                background-color: transparent;
                border: none;

                &:hover, &:focus {
                    color: $yellow-1;
                }
            }

        }
    }

    &--sale {

        ._title {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.3px;
            color: #231f20;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (min-width: 992px) {
                white-space: nowrap;
            }


            a {
                color: $yellow-1;
            }
        }

        .input-group {
            align-items: center;

        }

        .input-group-prepend {
            width: 92px;
            position: relative;

            &:after {
                content: '';
                width: 1%;
                height: 41px;
                background-color: #c3c3c3;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .vk-dropdown {
                min-width: 100%;
                height: 53px;
            }

            .flag-icon {
                width: 2em;
                height: 1.5em;
            }
        }


        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            height: 55px;
            background-color: #e8e8e8;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0;
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 0.3px;
            border-color: transparent;
            color: #231f20;
            @include placeholder-color {
                color: #9b9b9b;
            }
        }

        textarea.form-control {
            min-height: 100px;
        }

        .vk-dropdown {
            height: 55px;
            background-color: #e8e8e8;
        }

        .vk-button {
            text-align: center;
            padding-top: 20px;


        }

        .vk-btn {
            @extend .vk-btn--default;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.94;
            min-width: 183px;
            height: 55px;
            text-transform: uppercase;
        }

        &._fix {
            @extend .vk-form--sale;

            .row {
                margin-left: -10px;
                margin-right: -10px;
            }

            .col-lg-6,
            .col-lg-12,
            .col-lg-3 {
                padding-left: 10px;
                padding-right: 10px;
            }

            .vk-capcha {
                text-align: center;
                margin-bottom: 20px;
            }
        }


    }

    &--tour {
        .form-control {
            background-color: #e8e8e8;
            border-color: transparent;
            border-radius: 0px;
            height: 45px;
            padding: 10px 15px;
            font-size: 14px;
            line-height: 1.57;
            @include placeholder-color {
                color: #adadad;
            }
        }

        .form-group {
            margin-bottom: 20px;
        }

        ._label {
            font-size: 14px;
            line-height: 1.57;
            color: #2f2f2f;
            margin-bottom: 5px;
            text-transform: capitalize;
        }

        ._text {
            font-size: 12px;
            line-height: 1.67;
            color: #616161;

            a {
                color: $yellow-1;
            }
        }

        ._heading {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.25;
            letter-spacing: 0.5px;
            color: #231f20;
            margin-bottom: 0;
        }

        ._top {
            padding: 15px 30px;
            border-bottom: 1px solid #d0d0d0;
        }

        ._label-1 {
            font-size: 12px;
            font-weight: bold;
            line-height: 2;
            letter-spacing: 2px;
            color: #898989;
            text-transform: uppercase;
            @media(max-width: $tablet_landscape_width - 1px) {
                line-height: 1.9;
                padding-right: 8px;
            }
        }

        ._btn {
            @extend .vk-btn, .vk-btn--default;
            text-transform: uppercase;
            min-width: 182px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
            font-weight: 600;
            line-height: 2.58;
            text-align: center;
            @media(max-width: $tablet_landscape_width - 1px) {
                min-width: 0;
            }
        }

        ._total {
            font-size: 24px;
            font-weight: bold;
            line-height: 1.21;
            color: #231f20;
            text-align: center;
        }

        ._bot {
            border-top: 1px solid #d0d0d0;
            padding: 15px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $white;
            @media(max-width: $tablet_landscape_width - 1px) {
                margin-top: -1px;
                padding: 10px 15px;
            }

            ._left {
                @media(max-width: $tablet_landscape_width - 1px) {
                    display: flex;
                    align-items: flex-end;
                }
            }
        }

        ._mid {
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }

        #tourForm.collapse {
            @media(min-width: $tablet_landscape_width) {
                display: block !important;
            }
        }


    }

    &--search {
        position: relative;
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;

        .form-control {
            padding-left: $form-offset;
            padding-right: $form-height + $form-offset;
            height: 50px;
            border-color: $yellow-1;
            border-radius: 0;
            background-color: transparent;
            font-size: 20px;
            line-height: 1.15;
            letter-spacing: 0.8px;
            //color: #9b9b9b;
            border: none;
            box-shadow: none !important;
            font-family: Freight-Big;
            color: #9b9b9b;
            @media(min-width: $tablet_landscape_width) {
                font-size: 40px;
                height: 70px;
            }
        }

        .vk-btn {
            @extend .vk-btn--outline-default;
            border-color: transparent;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            min-width: $form-height;
        }
    }

    &--validation {
        .form-group {
            label {
                display: block;

                &.error {
                    padding-top: 5px;
                    color: $red;
                }
            }
        }

        .form-control {
            &.error {
                border-color: $red;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($red, 0.25);
            }

            &.valid {
                border-color: $green;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba($green, 0.25);
            }
        }

        .custom-checkbox {
            display: flex;
            flex-direction: column;

            label {
                &.error {
                    order: 1
                }
            }

        }

    }

    &--checkout {
        ._title {
            font-size: 16px;
            font-weight: 500;
            padding-top: 10px;
        }

        ._noti {
            font-size: 13px;
            font-weight: 400;
        }

        ._label {
            position: absolute;
            left: 0;
            top: 20px;
            color: lighten($black-1, 40);
            @include transition(0.3s);
            order: 0;
        }

        .form-group {
            position: relative;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

        }


        .form-control {
            order: 1;
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0;
            padding-right: 0;

            //box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(209, 0, 130, 0.25);

            &.active {
                ~ ._label {
                    top: 0;
                    font-size: 12px;
                }
            }

            &:focus {
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($pink-1, 0.25);

                ~ ._label {
                    color: $pink-1;
                }

                &.error {
                    ~ ._label {
                        color: $red;
                    }
                }

                &.valid {
                    ~ ._label {
                        color: $green;
                    }
                }

            }

            &.error {
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($red, 0.25);
                border-color: $red;
            }

            &.valid {
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba($green, 0.25);
                border-color: $green;
            }


        }

        input.form-control,
        textarea.form-control {
            padding-top: 20px;
            min-height: 50px;
        }

        textarea.form-control {
            min-height: 80px;
        }

        select.form-control {
            min-height: 45px;
        }


        //status
        label {
            margin-bottom: 0;

            &.error {
                order: 2;
                font-size: 13px;
                padding-top: 10px;
                color: $red;
            }
        }

    }

    &--contact-member {
        border: 1px solid $grey-1;
        border-top: 5px solid $yellow-1;
        padding: 15px;
        @media(min-width: $tablet_landscape_width){
            padding: 50px 50px 75px 50px;
        }
        .vk-button{
            padding-top: 20px;
        }
    }
}

/*END: FORM*/
