/*BEGIN: HEADING*/

.vk-heading {
	&--style-1 {
		font-family: Freight-Big;
		font-size: 30px;
		letter-spacing: 0.9px;
		text-align: center;
		color: $yellow-1;
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		span{
			display: inline-block;
			position: relative;
			&:after,&:before{
				content:'';
				height: 1px;
				width: 10000px;
				background-color: $grey-2;
				position: absolute;
				top: 50%;

			}
			&:after{
				left: calc(100% + 30px);
			}
			&:before{
				right: calc(100% + 30px);
			}
		}
	}
}

/*END: HEADING*/

