/*BEGIN: INPUT*/

$input-border-color: #ccc;
$input-focus-border-color: $pink-1;

$input-border-radius: 5px;

$input-min-height: 40px;

$input-box-shadow: inset 0 1px 1px rgba($black, .075) ;
$btn-focus-box-shadow: 0 0 0 3px rgba($input-focus-border-color, .25) ;
$input-focus-box-shadow: $input-box-shadow, $btn-focus-box-shadow ;

//custom form
$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba($black, .1) ;
$custom-control-indicator-focus-box-shadow: 0 0 0 1px $white, 0 0 0 3px lighten($input-focus-border-color, 35%) ;
$custom-control-indicator-active-bg: lighten($input-focus-border-color, 35%) ;
$custom-control-indicator-disabled-bg: $gray-200 ;
$custom-control-description-disabled-color: $gray-600 ;

//checkbox

$custom-checkbox-indicator-indeterminate-bg: $input-focus-border-color;



//--------form-control
.form-control {
	box-shadow: none;
	border-radius: $input-border-radius;
	min-height: $input-min-height;
	border-color: $input-border-color;
	font-size: inherit;
	color: inherit;

	&:focus {
		color: inherit;
		border-color: $input-focus-border-color;
		outline: none;
		box-shadow: $input-focus-box-shadow;

	}
}


.input-group-addon {
	background-color: $white;
}

.custom-control-input {
	&:focus ~ .custom-control-label::before {

		box-shadow: $custom-control-indicator-focus-box-shadow;
	}

	&:active ~ .custom-control-label::before {
		background-color: $custom-control-indicator-active-bg;
	}

}

.custom-checkbox, .custom-radio {
	.custom-control-input:checked ~ .custom-control-label {
		&::before {
			background-color: $input-focus-border-color;
		}
	}

}
/*END: INPUT*/
