/*BEGIN: LIST*/

.vk-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--inline {
        > li {
            display: inline-block;
        }
    }



    &--style-1{
        @extend .vk-list, .vk-list--inline;
        font-size: 20px;
        li{
            padding:0 5px;
            a{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @include size(25px);
                border:1px solid transparent;
                color: #ececec;
                @include hover-focus{
                    color: $yellow-1;
                }
            }
        }
    }

    &--style-2{
        @extend .vk-list;
        font-size: inherit;
        li{
            position: relative;
            padding-left: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            ._icon{
                position: absolute;
                left: 0;
                top: 4px;
                @include size(20px);
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

        }
    }

    &__link-filter{
        @extend .vk-list;
        li{
            padding:5px 0;
            a{
                position: relative;
                padding-left: 20px;
                display: block;
                &:before{
                    content:"\f096";
                    font-family: FontAwesome;
                    position: absolute;
                    left: 0;
                    top: 0;

                }

            }
            &.active{
                a{
                    &:before{
                        content:"\f046";
                        color:$color-default-focus;

                    }
                }
            }
        }
    }

    &__color {
        @extend .vk-list;
        li {
            display: inline-flex;
            @include size(40px);
            border: 1px solid transparent;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &:after {
                content: "\f00c";
                font-family: FontAwesome;
                position: absolute;
                bottom: 0;
                right: 1px;
                color: $white;
                font-size: 8px;
                display: none;
            }
            &:before {
                content: '';
                @include size(25px);
                background-color: $color-default-focus;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(50%, 50%) rotate(45deg);
                display: none;
            }
            img {
                background-color: $grey-1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.active,
            &:hover {
                border-color: $color-default-focus;
            }
            &.active {
                &:before, &:after {
                    z-index: 99;
                    display: block;
                }
            }

        }
    }

    &__size{
        @extend .vk-list__color;
        li{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border:1px solid $grey-1;
            text-transform: uppercase;
        }
    }



}

/*END: LIST*/
