/*BEGIN: MENU*/
.vk-mmenu {
    background-color: $black;
    border-top: 1px solid #2f2f2f;
    position: fixed;
    top: 74px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    padding: 15px 0;
    @include transition(0.3s);
    transform: translateX(-101%);

    .vk-header__list {
        flex-direction: column;
        display: flex;
    }

    &.active {
        transform: translateX(0);
    }

    ._top {
        text-align: center;
    }

    ._bot {
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        position: absolute;

        padding: 20px 0;
        background-color: $black;
    }

    &__lang {
        text-align: center;

        a {
            display: inline-block;
            font-size: 14px;
            line-height: 1.57;
            color: #9b9b9b;
            padding-left: 15px;
            padding-right: 15px;
            @include hover-focus {
                color: $white;
            }

            &.active {
                color: $white;
            }
        }
    }


}

.header-shrink {
    .vk-mmenu {
        top: 58px;
    }
}


.vk-menu {
    &__mega {
        position: fixed;
        padding-top: 220px;
        padding-bottom: 60px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 11;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-in-out;

        @media (max-width: 992px) {
            display: none
        }

        ._mega_content {
            height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $yellow-1;
                outline: 1px solid slategrey;
            }
        }

        &._shrink {
            @media (min-width: 992px) {
                padding-top: 150px;
            }
        }

        .vk-img {
            border: 2px solid transparent;
            margin-left: auto;
            margin-right: auto;
        }

        ._list {
            position: relative;
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-wrap: wrap;
            transform: translateY(-100px);
            transition: all 0.5s ease-in-out
        }

        ._item {
            padding: 15px;
            max-width: 20%;
            flex: 0 0 20%;
            opacity: 1;
            visibility: visible;
            position: static;
            @include transition(0.3s);

            &._hidden {
                position: absolute;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
            }

            .vk-img {
                @extend .vk-img--cover;
                height: 135px;
            }
        }

        ._title {
            padding-top: 15px;
            font-size: 24px;
            color: $white;
            font-weight: 300;
            @include transition(0.3s);
        }

        ._link {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0
        }

        ._box {
            text-align: center;
            position: relative;

            &._more {

                ._title {
                    padding-top: 50px;
                    font-size: 20px;
                    color: $yellow-1;

                    span {
                        display: inline-block;
                        padding-bottom: 3px;
                        border-bottom: 1px solid $yellow-1;
                    }
                }
            }

            &._find {
                .vk-img {
                    background-color: $yellow-1;
                }

                ._title {
                    padding-top: 0;
                    color: #2F2F2F;
                    font-size: 24px;
                }

                &:hover {
                    ._title {
                        color: #2F2F2F;
                    }
                }
            }

            &:hover {
                ._title {
                    color: $yellow-1;
                }

                .vk-img {
                    border-color: $yellow-1;

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__mobile {
        @extend .vk-list;
        height: calc(100vh - 260px);
        overflow: auto;

        li {
            a {
                display: block;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.43);
                font-size: 16px;
                font-weight: bold;
                line-height: 3.44;
                text-align: center;
                color: #9c978f;

                ._icon {
                    @include transition(0.15s);
                    transform: rotate(-180deg);
                }

                &.collapsed {
                    ._icon {
                        transform: rotate(0deg);
                    }
                }
            }

            &:hover, &.active {
                > a {

                    color: #f9bb2e;
                }

            }
        }
    }

    &__mobile-child {
        @extend .vk-list;
        background-color: #231f20;
        color: #847f79;

        li {
            a {
                color: #847f79;
                @include hover-focus {
                    color: $yellow-1;
                }
            }
        }

        &--style-1 {
            background-color: darken(#231f20, 5);
        }
    }

    &__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        a {
            font-size: 16px;
            font-weight: 600;
            color: #868686;
            display: flex;

            align-items: center;
            justify-content: center;
            text-align: center;
            white-space: nowrap;
            padding: 18px 15px;
            background-color: transparent;
            @media(min-width: $tablet_landscape_width) {
                height: 65px;
                padding: 10px 15px;
            }

            &.active {
                color: $black;
                background-color: #e9e9e9;

            }
        }

    }

    &__main {
        @extend .vk-list, .vk-list--inline;
        display: none;
        @media(min-width: $tablet_landscape_width) {
            display: inline-block;
        }

        li {
            a {
                display: inline-block;
                padding: 20px 20px;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.43);

                &:focus {
                    //background-color: $pink-1;
                    color: $yellow-1;
                }
            }

            &.active {
                a {
                    //background-color: $pink-1;
                    color: $yellow-1;
                }

            }

            &:hover {
                > a {
                    //background-color: $pink-1;
                    color: $yellow-1;
                }

                > .vk-menu__child {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &__child {
        @extend .vk-list;
        position: absolute;
        z-index: 1;
        background-color: $grey-1;
        min-width: 200px;
        visibility: hidden;
        opacity: 0;
        @include transition(0.3s);

        li {
            position: relative;

            a {
                display: block;
                padding: 10px 15px;


            }

            > ul {
                top: 0;
                left: 100%;
            }

            &:hover {
                > ul {
                    opacity: 1;
                    visibility: visible;
                }
            }


        }
    }
}

.vk-mega-child {
    @extend .vk-menu__mega;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &__content {
        display: flex;

    }

    &__left {
        width: 270px;
        padding-right: 60px;
        border-right: 1px solid #373737;
    }

    &__right {
        padding-left: 45px;
        width: 1%;
        flex: 1 1 auto;
    }

    &__back {
        text-transform: uppercase;
        color: $yellow-1;
        padding-top: 25px;
        display: inline-block;
        font-size: 13px;
        font-weight: 600;

        img {
            position: relative;
            top: -2px;
            margin-right: 5px;
        }
    }

    .vk-mega__list {
        font-size: 18px;
    }
}


.megaMenuActive {

    .vk-header__bot {
        border-bottom: 0px solid #2f2f2f;
        box-shadow: 0 1px 0 0px #2f2f2f;
    }

    ._destination {
        &.active {
            color: #faba40 !important;
        }
    }

    .vk-menu {
        &__mega {
            &.active {
                opacity: 1;
                visibility: visible;
                pointer-events: visible;

                ._list {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }


    //overide mmenu
    .mm-slideout {
        z-index: auto;
    }

}


.vk-mega-item {
    display: flex;
    padding: 10px;
    font-size: 14px;

    &__img {
        @extend .vk-img;
        width: 150px;
        height: 100px;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid transparent;
    }

    &__brief {
        width: 1%;
        flex: 1 1 auto;
        padding-left: 20px;
    }

    &__title {
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        transition: all 0.3s ease-in-out
    }

    &__text {
        color: #fff
    }

    &__link {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }

    &:hover {
        .vk-mega-item {
            &__title {
                color: #faba40;
            }

            &__img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

}


.vk-mega {
    &__content {
        border-right: 1px solid #696969;
        @media (min-width: $pc_width) {
            .vk-mega {
                &__content {
                    padding-right: 50px
                }

                &__right {
                    padding-left: 50px
                }
            }
        }
    }

    &__title {
        font-size: 14px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__list {
        @extend .vk-list;
        color: #fff;
        font-size: 14px;

        li {
            padding: 8px 0
        }

        &._first {
            margin-top: -60px;
        }

        ._first {
            font-size: 28px;
        }
    }
}


/*END: MENU*/

