/*BEGIN: MODAL*/
.vk-modal{
	&__dialog{
		@media(min-width: $tablet_landscape_width){

		}
	}
	&__content{
		border-radius: 0;
		@media(min-width: $tablet_landscape_width){

		}
	}
	&__header{
		@media(min-width: $tablet_landscape_width){

		}
	}
	&__body{
		@media(min-width: $tablet_landscape_width){

		}
	}
	&__footer{
		@media(min-width: $tablet_landscape_width){

		}
	}
}
/*END: MODAL*/
