/*BEGIN: PAGINATION*/

$pagination-color: $grey-1;
$pagination-color-active: $pink-1;

.vk-pagination {
	text-align: center;
	padding-top: 30px;

	@media(min-width: $tablet_landscape_width) {

	}

	&__list {
		@extend .vk-list, .vk-list--inline;
		font-size: inherit;

		li {
			padding: 1px 1px;
			a {
				border: 1px solid $pagination-color;
				display: flex;
				width: 45px;
				height: 45px;
				background-color: $grey-1;
				align-items: center;
				justify-content: center;
				font-size: 12px;
				font-weight: 600;
				line-height: 2.58;
				text-align: center;
				color: $black;

				&:focus{
					color: lighten($color-default, 100);
					background-color: $pagination-color-active;
					border-color: $pagination-color-active;
				}
			}

			&:hover,
			&.active{
				a {
					color: lighten($color-default, 100);
					background-color: $pagination-color-active;
					border-color: $pagination-color-active;
				}
			}
		}
	}

}

/*END: PAGINATION*/
