/*BEGIN: POPUP*/
.vk-popup {
    &__content {
        ._left {
            position: relative;

            ._text {
                position: absolute;
                bottom: 0;
                z-index: 1;
                font-size: 26px;
                line-height: 1.4;
                padding: 44px;
                color: white;
            }
        }

    }

    &--collection {
        position: relative;
        display: flex;

        ._left {
            width: calc(250 / 560 * 100%);
        }

        ._right {
            width: 1%;
            flex: 1 1 auto;
            padding: 40px 30px;
            font-weight: 700;
            font-size: 14px;
            color: #000;
            @media (max-width: 768px) {
                padding: 20px 15px;
            }

            ._title {
                color: #faba40;
                font-size: 38px;
            }

        }

        .form-control {
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 0;

            &:focus {
                box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 3px 0 0 rgba(250, 186, 64, 0.25);
            }
        }

        ._text {
            padding-bottom: 20px;
        }

        .__close {
            position: absolute;
            right: 4px;
            top: -2px;
            z-index: 1;
            color: #faba40;
            font-size: 28px;

            &:hover, &:focus {
                color: $yellow-1;
            }
        }
    }

    &--collection-direction {
        position: relative;

        .__close {
            position: absolute;
            right: 4px;
            top: 0;
            z-index: 1;
            color: #faba40;
            font-size: 28px;

            &:hover, &:focus {
                color: $yellow-1;
            }
        }
    }

    &--collection-corner {
        position: fixed;
        bottom: 0;
        right: 0;
        max-width: 300px;
        z-index: 100;
        transform: translateX(100%);
        transition: 0.3s all;
        display: none;
        @media (min-width: $tablet_landscape_width) {
            display: block;
        }

        &.active {
            transform: translateX(0);
        }

        .__close {
            position: absolute;
            left: 3px;
            top: -2px;
            z-index: 1;
            color: #faba40;
            font-size: 24px;
        }
    }

    &--collection-bottom {
        background-color: #faba40;
        color: #000;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px 0;
        transform: translateY(100%);
        transition: 0.3s all;
        z-index: 99;
        display: none;
        @media (min-width: $tablet_landscape_width) {
            display: block;
        }

        &.active {
            transform: translateY(0);
        }

        .__close {
            position: absolute;
            right: 0;
            top: 5px;

            &:hover, &:focus {
                color: red;
            }
        }

        .__content {
            display: flex;
            align-items: flex-start;
            position: relative;
            padding-right: 30px;
        }

        .__text {
            padding-right: 120px;
            font-weight: 400;
            font-size: 18px;
            font-family: Freight-Big;
            p{
                margin-bottom: 0;
            }
        }
    }
}

/*END: POPUP*/
