/*BEGIN: SLIDER*/
.vk-slider {
  &__arrow {
    @extend .vk-btn;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: .7;
    cursor: pointer;
    @media(max-width: $tablet_landscape_width) {
      display: none;
    }

    &._next {
      right: 0;
    }

    &._prev {
      left: 0;
    }

    &.slick-disabled {

    }
  }

  &--style-1 {
    .vk-slider {
      &__arrow {
        background-color: transparent;
        box-shadow: none;

        &._next {
          right: 15px;
        }

        &._prev {
          left: 15px;
        }
      }
    }
  }

  &--style-2 {
    overflow: hidden;

    .vk-slider {
      &__arrow {
        background-color: transparent;
        box-shadow: none;

        &._next {
          right: calc((100% - 1200px) / 2 - 60px);
        }

        &._prev {
          left: calc((100% - 1200px) / 2 - 60px);
        }
      }
    }

    .slick-list {

      margin: auto;
      overflow: visible;
      //padding-left: 50px;
      //padding-right: 50px;
      @media(min-width: $tablet_landscape_width) {
        width: 1200px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    .slick-slide {
      opacity: .3;
      @include transition(0.3s);
      pointer-events: none;

      &.slick-active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .slick-track {
      @media (min-width: 768px) {
        display: flex;
      }

      .slick-slide {
        @media (min-width: 768px) {
          float: none;
          height: auto;
        }

        > div,
        > div ._item,
        > div .vk-shop-item--style-5 {
          @media (min-width: 768px) {
            height: 100%;
            position: relative;
          }

        }

        > div .vk-shop-item--style-5 {
          .vk-shop-item__brief {
            @media (min-width: 768px) {
              background-color: transparent;
              padding-bottom: 70px;
            }

          }

          .vk-shop-item__button {
            @media (min-width: 768px) {
              position: absolute;
              left: 15px;
              right: 15px;
              bottom: 30px;
            }
          }

          &:before {
            @media (min-width: 768px) {
              content: '';
              position: absolute;
              z-index: -1;
              top: 15px;
              bottom: 15px;
              left: 0;
              right: 0;
              background-color: #fff;
            }

          }
        }

      }
    }
  }

  &--style-3 {
    .slick-dots {
      @extend .vk-list, .vk-list--inline;
      text-align: center;

      li {
        padding: 3px;

        button {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #cccccc;
          text-indent: 10px;
          overflow: hidden;
          border: none;
          display: block;
          padding: 0;
          outline: none;
        }

        &.slick-active {
          button {
            background-color: $black;
          }
        }
      }
    }
  }

  &--style-4 {
    .slick-dots {
      @extend .vk-list, .vk-list--inline;
      position: absolute;
      bottom: 55px;
      left: 0;
      right: 0;
      text-align: center;

      li {
        padding: 3px;

        button {
          border: 1px solid transparent;
          width: 10px;
          height: 10px;
          border-radius: 6.5px;
          background-color: #cccccc;
          text-indent: 10px;
          overflow: hidden;
          display: block;
          padding: 0;
          outline: none;
          @include transition(0.3s);
        }

        &.slick-active {
          button {
            background-color: $black;
            border-color: $white;
          }
        }
      }
    }
  }

  &--style-5 {
    @extend .vk-slider--style-2;

    .slick-slide {
      @include transition(.5s);

      &.slick-active {
        @media(min-width: $tablet_landscape_width) {
          width: 400px !important;
        }

      }

      &.slick-current {
        @media(min-width: $tablet_landscape_width) {
          width: 800px !important;
        }

      }
    }
  }

  &--style-6 {
    .vk-slider {
      &__arrow {
        background-color: transparent;
        box-shadow: none;
        @media(max-width: $tablet_landscape_width) {
          display: none !important;
        }

        &._next {

          right: 0;
          transform: translateX(100%);
        }

        &._prev {
          left: 0;
          transform: translateX(-100%);
        }

      }
    }
  }

  &--style-7 {
    @extend .vk-slider--style-2;

    .slick-slide {
      @include transition(0.7s);

      &.slick-active {

        @media(min-width: $tablet_landscape_width) {
          width: 270px !important;
        }
      }

      &.slick-current {

        @media(min-width: $tablet_landscape_width) {
          width: 570px !important;
        }
      }
    }

    .slick-list {
      @media(max-width: $tablet_landscape_width - 1px) {
        padding-right: 50px;
        padding-left: 0;
      }
    }

    .slick-dots {
      @extend .vk-list, .vk-list--inline;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 3px 10px;
        height: 16px;

        button {
          border: none;
          outline: none;
          text-indent: 100px;
          overflow: hidden;
          @include size(10px);
          border-radius: 50px;
          padding: 0;
          background-color: #231f20;
        }

        &.slick-active {
          button {
            background-color: $yellow-1;
          }
        }
      }
    }
  }

  &--style-8 {
    @extend .vk-slider--style-2;

    &.slick-slider {
      @media(min-width: $tablet_portrait_width) {
        display: flex;
      }
    }

    .slick-track {
      display: flex;
    }

    .vk-step-item {

      @media(min-width: $tablet_portrait_width) {
        height: 100%;
      }
    }
  }

  &--style-9 {
    @extend .vk-slider--style-2;
    @media(max-width: $tablet_landscape_width - 1px) {
      padding-left: 60px;
      padding-right: 60px;

    }
    //.slick-list{
    //
    //
    //}
    .slick-slide {
      opacity: .3;
      @include transition(0.3s);
      pointer-events: none;

      &.slick-active {
        opacity: 1;
        pointer-events: auto;
      }
    }

  }

  &--style-10 {
    @extend .vk-slider--style-5;
    @media(max-width: $tablet_landscape_width - 1px) {
      padding-left: 60px;
      padding-right: 60px;

    }

    .vk-slider {
      &__arrow {
        background-color: transparent;
        box-shadow: none;
        opacity: .7;

        &._next {
          right: 5px;
        }

        &._prev {
          left: 5px;
        }
      }
    }

    .slick-list {
      @media(max-width: $tablet_landscape_width - 1px) {
        //padding-left: 60px;
        //padding-right: 60px;

      }
    }

    .slick-slide {
      opacity: .3;
      @include transition(0.7s);
      pointer-events: none;

      &.slick-active {
        opacity: 1;
        pointer-events: auto;
      }

      &.slick-current {
        @media(min-width: $tablet_landscape_width) {
          width: 800px !important;
          .vk-blog-item {
            &__btn {
              height: 0;
              overflow: hidden;
              padding: 0;
            }

            &__text {
              margin-bottom: 0;
            }


          }
        }

      }
    }

    .slick-dots {
      @extend .vk-list, .vk-list--inline;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 10px;

      li {
        padding: 3px 10px;
        height: 16px;

        button {
          border: none;
          outline: none;
          text-indent: 100px;
          overflow: hidden;
          @include size(10px);
          border-radius: 50px;
          padding: 0;
          background-color: #231f20;
        }

        &.slick-active {
          button {
            background-color: $yellow-1;
          }
        }
      }
    }


  }

  &--style-11 {
    @extend .vk-slider--style-7;
    @media(max-width: $tablet_landscape_width - 1px) {
      padding-right: 50px !important;
    }


    .slick-list {
      @media(max-width: $tablet_landscape_width - 1px) {
        //padding-right: 50px !important;
      }
    }


  }


}

.slick-slide, .slick-slide a {
  outline: none;
}

/*END: SLIDER*/
