/*BEGIN: TEAM*/
.vk-team-item {

  padding-top: 15px;
  padding-bottom: 15px;
  @media(min-width: $tablet_landscape_width) {
    display: flex;
  }

  &__img {
    @extend .vk-img, .vk-img--cover;

    @media(min-width: $tablet_landscape_width) {
      @include size(240px);
    }
  }

  &__brief {
    padding: 15px;
    background-color: $grey-1;

    @media(min-width: $tablet_landscape_width) {
      flex: 1 1 auto;
      width: 1%;
      padding: 10px 30px;
    }

  }

  &__title {
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 1px;
    color: $black;
    margin-bottom: 7px;
  }

  &__position {
    font-size: 14px;
    line-height: 1.64;
    color: #a2a2a2;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.64;
    color: #5e5e5e;
    max-height: 66px;
    overflow: hidden;
    position: relative;
  }

  &__view-more{
    position: absolute;
    text-decoration: underline;
    color: $black;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    background-color: #f4f4f4;
    padding-left: 9px;
  }
  &__button{
    padding-top: 20px;
  }
  &__btn{
    @extend .vk-btn, .vk-btn--default;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    min-height: 40px;
  }
}
/*END: TEAM*/
