$white: #fff;
$black: #000;
$red-1: #ff0000;
$yellow-1: #faba40;
$blue-1: $yellow-1;


//$pink-1: #d10082;
$pink-1: $blue-1;

$black-1: #696969;

$grey-1: #f4f4f4;
$grey-2: #3f3f3f;
$grey-3: #8b8b8b;
$grey-4: #595755;
$grey-5: #f1f1f1;
$grey-6: #d8d8d8;
$grey-7: #E7E7E7;




$color-default: $black-1;
$color-default-focus: $pink-1;

$color-list:(
        white:$white,
        black-1:$black-1,
        pink-1:$pink-1,
        red-1: $red-1,
		yellow-1: $yellow-1,
);


//bootstrap
//Color
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
        primary: $blue,
        secondary: $gray-600,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $gray-800,
		default: $pink-1,
		red-1: $red-1,
		grey-4: $grey-4,
		blue-1: $blue-1,
		white: $white,
		black: $black,
) !default;
