$mobile_landscape_width: 576px;
$tablet_portrait_width: 768px;
$tablet_landscape_width: 992px;

$pc_width: 1200px;
$full_hd_width: 1650px;

$tour_right_width: 340px;
$destiny_right_width: 310px;

$breakpoints: (
		"sm" : $mobile_landscape_width,
		"md" : $tablet_portrait_width,
		"lg" : $tablet_landscape_width,
		"xl" : $pc_width,
);