/*BEGIN: HEADER*/

.vk-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black;
    color: #9c978f;
    z-index: 11;
    @include transition(0.3s);

    &--style-1{
        position: relative;

        ~.vk-content{
            //margin-top: -75px;
            @media(max-width: $tablet_landscape_width - 1px) {
                //margin-top: -145px;
            }
        }
    }

    &--home {
        @media(max-width: $tablet_landscape_width - 1px) {
            //background-color: transparent;
        }

        .vk-header {
            &__top {
                box-shadow: none;
            }

            &__bot {
                border-color: $black-1;
            }
        }
    }

    &__list {
        @extend .vk-list, .vk-list--inline;
        color: $yellow-1;
        font-size: 16px;
        margin-bottom: 30px;
        @media(min-width: $tablet_landscape_width) {
            margin-bottom: 0;

        }

        @media(min-width: $tablet_landscape_width) {
            font-weight: 600;
        }

        li {
            padding: 4px 0;
            @media(min-width: $tablet_landscape_width) {
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 30px;
            }


            &:last-child {
                padding-right: 0;
            }
        }

        &--style-1 {
            @extend .vk-header__list;
            text-align: left;

            li {
                padding: 5px 15px !important;

                a {
                    font-weight: 400 !important;
                    color: $yellow-1 !important;
                    font-size: 16px !important;

                }
            }
        }

    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__top {
        padding-top: 15px;
        padding-bottom: 20px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;

        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
        @include transition(0.3s);
        @media(min-width: $tablet_landscape_width) {
            height: 90px;
        }
        @media(min-width: $full_hd_width) {
            padding-left: 60px;
            padding-right: 60px;
        }

        &:after {
            content: "";
            height: 1px;
            opacity: 0.2;
            background-image: linear-gradient(to left, #252830, #d5b68a 47%, #252830);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            @media(min-width: $tablet_landscape_width) {
                display: none;
            }
        }

        ._mid {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        ._left {

            ul {
                @media(max-width: $tablet_landscape_width - 1px) {
                    display: none;
                }
            }
        }

        ._right {
            .vk-dropdown {
                margin-right: 10px;
            }
        }
    }

    &__top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__mid {
        padding: 10px 0;
        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__mid-content {
        display: flex;
        align-items: center;
        position: relative;
        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__mid-right {
        width: 1%;
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        @media(min-width: $tablet_landscape_width) {
            position: relative;
        }
    }

    &__bot {
        border-bottom: 1px solid #2f2f2f;
        overflow: hidden;
        background: url("../images/line.png") center top no-repeat;
        @include transition(0.3s);


        @media(min-width: $tablet_landscape_width) {
            height: 62px;
        }
    }

    &__bot-content {
        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__logo {
        display: block;
        width: 81px;
        @include transition(0.3s);
        @media(min-width: $tablet_landscape_width) {
            width: 133px;
        }

        img {

            @include transition(0.3s);
        }

        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__search {
        width: 100%;

        @media(min-width: $tablet_landscape_width) {
            padding: 50px 0;
        }
    }

    &__minicart {
        margin-left: 30px;

        @media(min-width: $tablet_landscape_width) {

        }

        &:hover {
            .vk-minicart {

                opacity: 1;
                visibility: visible;
            }

        }

    }

    &__mobile-menu {
        margin-left: 20px;
    }

    &__btn {
        @extend .vk-btn, .vk-btn--default;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        @include size(40px);
        color: $white;

        &--search {
            ._icon {
                &:before {
                    content: "\f057";
                }

            }

            &.collapsed {
                ._icon {
                    &:before {

                        content: "\f002";
                    }

                }
            }
        }

        &--top {
            min-width: 203px;
            height: 55px;
            min-height: 0;
            color: $black;
        }

        &--menu {
            @extend .vk-header__btn;
            border: transparent;
            background-color: transparent !important;
            box-shadow: none !important;
            @media(min-width: $tablet_landscape_width) {
                display: none;
            }

            &.active {
                .ti-menu {
                    &:before {
                        content: "\e646";
                    }
                }


            }
        }

        &--minicart {
            position: relative;

            ._num {
                position: absolute;
                background-color: $red-1;
                font-size: 13px;
                padding: 1px 2px;
                border-radius: 5px;
                top: 0;
                right: 0;
            }
        }
    }


    &._shrink {
        background-color: $black;

        .vk-header {
            &__btn {
                &--top {
                    @media(min-width: $tablet_landscape_width) {
                        height: 40px;
                    }


                }
            }

            &__logo {
                @media(min-width: $tablet_landscape_width) {
                    width: 80px;
                }
                //img {
                //
                //
                //}
            }

            &__top {
                @media(min-width: $tablet_landscape_width) {
                    padding: 5px 15px;
                    height: 60px;
                }

                @media(max-width: $tablet_landscape_width - 1px) {
                    padding-top: 9px;
                    padding-bottom: 9px;
                }

                ._right {
                    .vk-dropdown--style-1 {


                        @media(min-width: $tablet_landscape_width) {
                            opacity: 0;
                            visibility: hidden;
                            height: 0;
                            min-height: 0;
                        }
                    }
                }
            }

            &__bot {
                @media(min-width: $tablet_landscape_width) {
                    height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }


            }
        }

        .vk-menu {
            &__main {
                li {
                    a {
                        @media(min-width: $tablet_landscape_width) {
                            padding: 15px 20px;
                        }

                    }
                }
            }
        }


    }


}

/*END: HEADER*/