/*BEGIN: FOOTER*/

.vk-footer{
    background-color: $black;
    color: $grey-3;
    @media (max-width: $tablet_landscape_width - 1px) {
        //text-align: center;
    }
    &__addr{
        margin-bottom: 20px;
        ._title{
            font-size: 14px;
            color: $grey-4;
        }
        ._text{
            font-size: 14px;
            line-height: 1.57;
            color: #e7e7e7;
        }
    }
    &__item{
        padding:20px 0;
        @media (min-width: $tablet_landscape_width) {
            padding:40px 0;
        }
        &.first{
            @media (min-width: $tablet_landscape_width) {
                padding-right: 20px;
            }
        }
    }
    &__logo{
        display: inline-block;
        background-color: $grey-1;
        margin-bottom: 10px;
        width: 100px;
        min-height: 60px;
        @media (min-width: $tablet_landscape_width) {

        }
    }

    &__title{
        font-size: 24px;
        text-transform: capitalize;
        font-weight: normal;
        color: $yellow-1;
        margin-bottom: 10px;
        @media (min-width: $tablet_landscape_width) {

        }
    }
    &__list{

        &--style-1{
            @extend .vk-list--style-1;
        }
        &--style-2{
            @extend .vk-list--style-2;
        }
        &--style-3{
            @extend .vk-list;
            font-size: 14px;
            li{
                padding:10px 0;
                position: relative;

            }
        }
    }

    &__bot{
        background-color: #161616;
        padding:20px 0;
        color:$white;
        @media(min-width:$tablet_landscape_width){
            padding:10px 0;
        }
    }
    &__bot-content{
        text-align: center;

        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: $grey-3;
        @media(min-width:$tablet_landscape_width){
            display: flex;
        }
        ._left{
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
            @media(min-width:$tablet_landscape_width){
                max-width: 100%;
                width: 100%;
                padding-right: 30px;
                text-align: left;
            }
        }
    }

}
/*END: FOOTER*/