/*BEGIN: ABOUT*/

.vk-about-item {
    text-align: center;
    //padding: 30px 15px;
    background-color: $grey-5;
    position: relative;
    height: 100%;
    padding: 80px 30px;
    @media(min-width: $tablet_landscape_width) {
        padding: 80px 30px;
    }
    &:after{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: url("../images/about-3.jpg") center center no-repeat;
        background-size: cover;
        @include transition(0.3s);
        @media(min-width:$tablet_landscape_width){
            opacity: 0;
        }


    }


    &__brief {
        padding-top: 10px;
        @media(min-width: $tablet_landscape_width) {

        }
    }

    &__title {


        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        @include transition(0.3s);
        font-size: 24px;
        line-height: 1.08;
        letter-spacing: 0.8px;
        color: $white;
        @media(min-width: $tablet_landscape_width) {
            font-size: 30px;
            line-height: 0.97;
            letter-spacing: 1.3px;
            color: $black;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        font-size: 14px;
        line-height: 1.5;
        @include transition(0.3s);
        color: $white;
        @media(min-width: $tablet_landscape_width) {
            color: $black-1;
        }

        p {
            margin-bottom: 0;
        }
    }
    &:hover{
        &:after{
            opacity: 1;
        }
        .vk-about-item{
            &__title,&__text{
                color: $white;
            }
        }
    }
}

.vk-about {
    &__list{
        &--style-1{
            ._item{
                padding-bottom: 15px;
                @media(min-width:$tablet_landscape_width){
                    padding-bottom: 0;
                }
            }
        }
    }
    &__mid{
        background-color: $grey-5;
        padding-bottom: 50px;
        padding-top: 50px;
        @media(min-width:$tablet_landscape_width){
            padding-bottom: 80px;
            padding-top: 80px;
        }
        @media(min-width:$full_hd_width){
            padding-bottom: 100px;
            padding-top: 100px;
        }
        ._right{

            @media(min-width:$tablet_landscape_width){
                padding-left: 90px;
            }

        }
    }
    &__team{
        padding-bottom: 60px;
        padding-top: 60px;
        @media(min-width:$tablet_landscape_width){
            padding-bottom: 70px;
            padding-top: 70px;
        }
        @media(min-width:$full_hd_width){
            padding-bottom: 100px;
            padding-top: 100px;
        }
    }
    &__title-box{
        text-align: center;
        margin-bottom: 20px;
        @media(min-width:$tablet_landscape_width){
            margin-bottom: 80px;
        }
        ._title{
            font-size: 36px;
            line-height: 0.84;
            letter-spacing: 1.1px;
            text-align: center;
            color: #252830;
            margin-bottom: 30px;
            @media(min-width:$tablet_landscape_width){
                font-size: 55px;
            }
        }
        ._title-sub{
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            line-height: 1.64;
            text-align: center;
            color: #5e5e5e;
        }
    }
    &__sell-point {

        padding-bottom: 60px;
        @media(min-width:$tablet_landscape_width){
            padding-top: 40px;
            padding-bottom: 80px;
        }
        @media(min-width:$full_hd_width){
            padding-top: 60px;
            padding-bottom: 120px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.5;
        color: $grey-4;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: $black;
        @media(min-width:$tablet_landscape_width){
            font-size: 36px;
            line-height: 1.13;
            letter-spacing: 1.1px;
            color: #2f2f2f;
            margin-bottom: 40px;
        }

        &--style-1 {
            @extend .vk-about__title;
            text-align: center;
            margin-bottom: 35px;
            @media(min-width:$tablet_landscape_width){
                margin-bottom: 70px;
            }

        }
        &--style-2{
            color: $black;
            margin-bottom: 40px;

            font-size: 30px;
            line-height: 1.2;
            letter-spacing: 0.4px;

            @media(min-width:$tablet_landscape_width){
                font-size: 40px;
                line-height: 1.23;
                letter-spacing: 0.8px;
            }

        }
    }

}

/*END: ABOUT*/
