/*BEGIN: BLOG*/

.vk-blog-item {

  &__btn {
    @extend .vk-btn, .vk-btn--black;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.3px;
    height: 45px;
    text-transform: uppercase;
    min-width: 153px;


    @media(min-width: $full_hd_width) {

    }

  }

  &--style-1 {
    padding: 15px 0;
    @media(min-width: $tablet_landscape_width) {

    }

    .vk-blog-item {
      &__btn {
        @media(max-width: $tablet_landscape_width - 1px) {
          display: none;
        }
      }

      &__img {
        @extend .vk-img, .vk-img--cover;
        @media(min-width: $tablet_landscape_width) {
          height: 255px;
        }
      }

      &__brief {
        padding: 30px 22px;
        border: 1px solid darken($grey-1, 10);
        border-top: none;
        @include transition(0.3s);
        background-color: $white;
        @media(max-width: $tablet_landscape_width - 1px) {
          padding: 15px 17px;
        }
      }

      &__title {
        font-family: Freight-Big;
        font-size: 24px;
        line-height: 1.21;
        letter-spacing: 1px;
        color: $black;
        padding-bottom: 10px;
        height: 60px;
        overflow: hidden;
        @media(min-width: $tablet_landscape_width) {

        }
      }

      &__text {
        font-size: 14px;
        line-height: 1.5;
        color: $black-1;
        margin-bottom: 15px;
        @media(min-width: $tablet_landscape_width) {

        }
        @media(max-width: $tablet_landscape_width - 1px) {
          margin-bottom: 0px;
        }

        p {
          margin-bottom: 0;
        }
      }


    }

    &:hover {
      .vk-blog-item {
        &__brief {
          background-color: $white;
        }
      }
    }
  }

  &--style-2 {
    margin: 10px 0;
    @media(min-width: $tablet_landscape_width) {
      display: flex;

    }

    .vk-blog-item {
      &__btn {
        @media(max-width: $tablet_landscape_width - 1px) {
          display: none;

        }
      }

      &__img {
        @extend .vk-img, .vk-img--cover;

        @media(min-width: $tablet_landscape_width) {
          width: 370px;
          height: 301px;
        }
      }


      &__brief {
        padding: 15px;
        border: 1px solid #d8d8d8;
        @media(min-width: $tablet_landscape_width) {
          width: 1%;
          flex: 1 1 auto;
          padding: 20px 40px;
        }

      }

      &__title {
        font-family: Freight-Big;
        font-size: 24px;
        line-height: 1.21;
        letter-spacing: 1px;
        color: $black;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
        line-height: 1.5;
        color: $black-1;
        margin-bottom: 20px;
        @media(max-width: $tablet_landscape_width - 1px) {
          margin-bottom: 0px;

        }
      }


    }

  }

  &--style-3 {
    padding: 15px 0;

    .vk-blog-item {
      &__img {
        @extend .vk-img, .vk-img--cover;
        height: 91px;
      }

      &__brief {
        padding-top: 10px;
      }

      &__title {
        font-family: Nunito Sans;
        font-size: 14px;
        line-height: 1.5;
        color: $white;
      }

    }
  }

  &--style-4 {
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid $grey-6;

    .vk-blog-item {
      &__img {
        @extend .vk-img, .vk-img--cover;
        width: 70px;
        height: 70px;
        background-color: $grey-6;
      }

      &__brief {
        padding-left: 15px;
        width: 1%;
        flex: 1 1 auto;
      }

      &__title {
        font-family: Nunito Sans;
        font-size: 16px;
        line-height: 1.5;
        color: #2f2f2f;
      }

    }
  }

  &--style-5 {
    padding: 15px 0;

    @media(min-width: $tablet_landscape_width) {

    }


    .vk-blog-item {
      &__btn {
        @media(max-width: $tablet_landscape_width - 1px) {
          display: none;
        }
      }

      &__img {
        @extend .vk-img, .vk-img--cover;
        @media(min-width: $tablet_landscape_width) {
          min-height: 255px;
        }

      }

      &__brief {
        padding: 20px;
        border: 1px solid darken($grey-1, 10);
        border-top: none;
        background-color: $white;
        @media(min-width: $tablet_landscape_width) {
          padding: 30px 22px;
        }
        @media(max-width: $tablet_landscape_width - 1px) {
          padding: 15px;
        }
      }

      &__title {
        font-family: Freight-Big;
        color: $black;
        font-size: 20px;
        line-height: 1.25;
        letter-spacing: 1px;
        margin-bottom: 13px;
        @media(min-width: $tablet_landscape_width) {
          font-size: 24px;
          line-height: 1.21;
        }
      }

      &__text {
        font-size: 14px;
        line-height: 1.5;
        color: $black-1;
        margin-bottom: 15px;
        @media(min-width: $tablet_landscape_width) {

        }

        @media(max-width: $tablet_landscape_width - 1px) {
          margin-bottom: 0px;
        }


        p {
          margin-bottom: 0;
        }
      }


    }
  }

  &--style-6 {
    padding: 15px 0;
    @media(max-width: $tablet_portrait_width - 1px) {
      padding: 8px 0;
      display: flex;
    }

    .vk-blog-item {

      &__img {
        @extend .vk-img, .vk-img--cover;

        @media(min-width: $tablet_landscape_width) {
          height: 255px;
        }
        @media(max-width: $tablet_portrait_width - 1px) {
          height: 105px;
          width: 140px;
        }

      }

      &__brief {
        padding: 30px 22px;
        border: 1px solid darken($grey-1, 10);
        border-top: none;
        @include transition(0.3s);
        @media(max-width: $tablet_portrait_width - 1px) {
          padding: 15px;
          width: 1%;
          flex: 1 1 auto;
          background-color: $white;
          border: none;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          padding: 15px;
        }
      }

      &__title {
        font-family: Freight-Big;
        font-size: 24px;
        line-height: 1.21;
        letter-spacing: 1px;
        color: $black;
        padding-bottom: 10px;
        min-height: 60px;
        overflow: hidden;
        @media(max-width: $tablet_portrait_width - 1px) {
          margin: 0;
          font-size: 20px;
          line-height: 1.3;
          padding-bottom: 0;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 18px;
          line-height: 1.4;
        }


      }

      &__text {
        font-size: 14px;
        line-height: 1.5;
        color: $black-1;
        margin-bottom: 15px;
        @media(min-width: $tablet_landscape_width) {

        }
        @media(max-width: $tablet_landscape_width - 1px) {
          display: none;

        }

        p {
          margin-bottom: 0;
        }
      }

      &__btn {
        @media(max-width: $tablet_landscape_width - 1px) {
          display: none;

        }
      }


    }

    &:hover {
      .vk-blog-item {
        &__brief {
          background-color: $white;
        }
      }
    }
  }

}

.vk-blog-detail {

  &__relate {
    @media(max-width: $tablet_landscape_width - 1px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__comment {
    padding-bottom: 60px;
  }

  &__tag {
    padding-bottom: 35px;
    @media(min-width: $tablet_landscape_width) {
      padding-bottom: 60px;
    }

    a {
      font-size: 11px;
      font-weight: bold;
      line-height: 2.18;
      letter-spacing: 1.8px;
      color: #4d4d4d;
      border: 1px solid #ccc;
      text-transform: uppercase;
      padding: 5px 10px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

    }
  }

  &__breadcrumb {
    @extend .vk-list, .vk-list--inline;
    font-size: 14px;
    line-height: 2;
    color: #b9b9b9;

    li {
      &:after {
        content: '';
        @include size(5px);
        border-radius: 5px;
        background-color: #b9b9b9;
        position: relative;
        top: -2px;
        display: inline-block;
        margin: 0 15px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &__top {
    background: url("../images/blog-detail-1.jpg") center center no-repeat;
    padding-top: 75px;
    padding-bottom: 10px;
    background-size: cover;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 150px;

    }
    @media(min-width: $full_hd_width) {
      //padding-top: 150px;
      padding-bottom: 30px;

    }
  }

  &__top-content {

    display: flex;
    align-items: flex-end;
    padding-top: 360px;
    @media(min-width: $tablet_landscape_width) {
      //min-height: 840px;
      padding-top: 250px;
    }
    @media(min-width: $full_hd_width) {
      //min-height: 840px;
      padding-top: 580px;
    }
  }

  &__meta {
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    margin-bottom: 15px;
    @media(min-width: $tablet_landscape_width) {
      display: flex;
      font-size: 16px;
    }

    ._item {
      display: block;

      &:after {
        content: '|';
        display: inline-block;
        padding: 0 15px;
      }

      &:last-child {
        &:after {
          display: none;
        }

      }
    }
  }

  &__title-sub {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 2;
    color: $black-1;

    @media(min-width: $tablet_landscape_width) {
      font-size: 14px;
      margin-bottom: 35px;
    }
  }

  &__title {
    color: $white;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    @media(min-width: $tablet_landscape_width) {
      font-size: 55px;
    }

    &--style-1 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.6px;
      color: #231f20;
      @media(min-width: $tablet_landscape_width) {
        font-size: 30px;
        letter-spacing: 1px;
      }
    }

    &--style-2 {
      @extend .vk-blog-detail__title--style-1;
      margin-bottom: 0;
      background-color: $black;
      color: $white;
      @media(min-width: $tablet_landscape_width) {
        margin-bottom: 10px;
        background-color: transparent;
        color: #231f20;
      }
      @media(max-width: $tablet_landscape_width - 1px) {
        padding: 30px 15px;
        padding-bottom: 0;
      }
    }
  }

  &__content {
    padding-bottom: 10px;
    @media(min-width: $tablet_landscape_width) {
      padding-bottom: 35px;
    }

    p > img ~ span {
      font-size: 14px;
      line-height: 2;
      color: #9a9a9a;
      display: block;
      padding-top: 10px;
    }

    h3 {
      color: #231f20;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.6px;
      @media(min-width: $tablet_landscape_width) {
        font-size: 30px;
        line-height: 1.3;
      }
    }

    img {
      display: inline-block;
      width: auto;
    }
  }
}

.vk-blog {

  &__share {
    position: absolute;
    left: -60px;
    top: 0;
    @media(min-width: $full_hd_width) {
      left: -90px;
    }

    ._icon {
      font-style: normal;

    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: $white;
      background-color: $grey-2;
      width: 45px;
      height: 45px;

      &:last-child {
        font-size: 24px;
      }

      &.facebook {
        background-color: #3b5998;
      }

      &.twitter {
        background-color: #1da1f2;
      }

      &.google {
        background-color: #dd4b39;
      }

      &.more {
        background-color: #faba40;
      }

    }
  }

  &__slider {
    .vk-blog-item {
      //max-width: 250px;
    }
  }

  &__top {
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 40px;

    @media(min-width: $tablet_landscape_width) {
      padding-top: 200px;
      min-height: 1050px;
      padding-bottom: 50px;
    }
    @media(min-width: $full_hd_width) {
      padding-top: 200px;
      min-height: 1240px;
      padding-bottom: 120px;
    }
  }

  &__mid {
    background-color: $black;
    padding: 15px 15px;

    //display: none;
    @media(min-width: $tablet_landscape_width) {
      padding: 15px 40px;
      //display: block;
      margin: 20px 0;
    }


  }

  &__left {
    position: relative;
    @media(min-width: $tablet_landscape_width) {
      padding-right: 50px;
    }
  }

  &__heading {
    @extend .vk-heading--style-1;
  }

  &__title {
    font-family: Freight-Big;
    text-align: center;
    color: $white;
    margin-bottom: 70px;
    font-size: 50px;
    line-height: 0.72;
    letter-spacing: 0.7px;
    @media(min-width: $tablet_landscape_width) {
      margin-bottom: 45px;
      font-size: 48px;
      letter-spacing: 1px;
    }
    @media(min-width: $full_hd_width) {
      margin-bottom: 90px;
      font-size: 60px;
    }

  }

  &__relate {

  }

  &__list {
    &.vk-slider {
      @media (min-width: 768px) {
        .slick-track {
          display: flex;

          .slick-slide {
            float: none;
            height: auto;

            > div,
            > div ._item,
            > div .vk-blog-item--style-6 {
              height: 100%;
              position: relative;
            }

            > div .vk-blog-item--style-6 {
              .vk-blog-item {
                &__brief {
                  background-color: transparent;
                  border: none;
                  padding-bottom: 70px;
                }

                &__btn {
                  position: absolute;
                  bottom: 35px;
                  left: 22px;
                }
              }

              &:before {
                content: '';
                top: 15px;
                bottom: 15px;
                left: 0;
                right: 0;
                position: absolute;
                z-index: -1;
                border: 1px solid #dbdbdb;
                background-color: transparent;
                transition: all 0.3s ease-in-out;
              }

              &:hover {
                &:before {
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*END: BLOG*/
