/*BEGIN: CONTACT*/

.vk-contact-item{
	padding-bottom: 20px;
	@media (min-width: $tablet_landscape_width) {
		padding-bottom: 0px;
	}
	@media(max-width:$tablet_landscape_width - 1px){
		border-bottom:1px solid #d0d0d0;
		margin-bottom: 20px;
	}
	.vk-img{
		@media (min-width: $tablet_landscape_width) {

		}
	}
	&__brief{
		@media(min-width:$tablet_landscape_width){

		}
	}
	&__label{
		font-size: 14px;
		line-height: 1.71;
		color: #9b9b9b;
	}
	&__list{
		@extend .vk-list;
		@media(min-width:$tablet_landscape_width){
			max-width: 230px;
		}
		li{
			padding:5px 0;
		}
	}
	&__title{
		font-family: Freight-Big;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.17;
		letter-spacing: 1px;
		color: #2f2f2f;
		margin-bottom: 5px;
		@media(min-width:$tablet_landscape_width){
			margin-bottom: 21px;
		}
	}
	&__text{
		font-size: 14px;
		line-height: 1.71;
		color: #2f2f2f;
		@media(min-width:$tablet_landscape_width){

		}
		p{
			margin-bottom: 0;
		}
	}
	&.last{
		@media(max-width:$tablet_landscape_width - 1px){
			border-bottom:0px solid #d0d0d0;
			margin-bottom: 0px;
			padding-bottom: 0;
		}
	}
}

.vk-contact{
	&__map{
		.vk-img{
			height: 600px;
			@extend .vk-img--cover
		}
	}
	&__form{
		background-color: $white;
		padding:30px 15px;
		margin-left: -15px;
		margin-right: -15px;
		@media(min-width:$tablet_landscape_width){
			padding:40px 60px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	&__bot{
		//padding-bottom: 70px;

		@media(min-width:$tablet_landscape_width){
			padding-bottom: 140px;
		}
	}
	&__top{
		padding-top: 40px;
		padding-bottom: 40px;
		@media(min-width:$tablet_landscape_width){
			padding-top: 75px;
			padding-bottom: 100px;
		}
	}
	&__bot-content{
		@media(min-width:$tablet_landscape_width){
			display: flex;
		}
		._left{
			@media(min-width:$tablet_landscape_width){
				width: 1%;
				flex: 1 1 auto;
				padding-right: 15px;
			}
		}
		._right{
			@media(min-width:$tablet_landscape_width){
				width: 930px;

			}
		}

	}
	&__content{
		background-color: #f5f5f5;
	}
	&__heading{
		@extend .vk-heading--style-1;
	}
	&__title{
		font-family: Freight-Big;
		font-size: 40px;
		line-height: 1.15;
		letter-spacing: 0.8px;
		color: $black;
		margin-bottom: 20px;
		&--style-2{
			font-family: Freight-Big;
			font-size: 24px;
			line-height: 1.17;
			letter-spacing: 1px;
			color: #2f2f2f;
			margin-bottom: 30px;
		}
		&--style-3{
			@extend .vk-contact__title;
			padding-top: 28px;
		}
	}
	&__list{
		@extend .vk-list--style-2;
	}
	&__map{
		iframe{
			width: 100% !important;
		}
	}
}

/*END: CONTACT*/
