/*BEGIN: MEMBER*/
.vk-mdi {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: $white;
    @media(min-width: $tablet_landscape_width) {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    &__img {
        top: -50px;
        @extend .vk-img, .vk-img--cover;
        @include size(100px);
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    &__name {
        font-size: 18px;
        color: $black;
        font-family: 'Freight-Big';
        margin-bottom: 10px;
    }
    &__brief{
        margin-top: -50px;
    }
    &__content{
        color: $black;
        p{
            line-height: 1.6;
        }

    }

    &__meta {
        color: #9d9d9d;
        font-weight: 300;
        margin-bottom: 20px;
        span {
            + span {
                &:before {
                    content: '';
                    @include size(3px);
                    background-color: #9d9d9d;
                    display: inline-block;
                    margin: 0 5px;
                    position: relative;
                    border-radius: 50%;
                    bottom: 2px;
                }
            }
        }
    }
    &__title{
        font-size: 14px;
        color: #9d9d9d;
        font-family: 'Nunito Sans';
        margin-bottom: 5px;
    }
    &__tour{
        margin-top: 30px;
        padding-top: 30px;
        position: relative;
        color: $black;
        font-size: 14px;
        &:before{
            content:'';
            width: 30px;
            height: 1px;
            background-color: #9d9d9d;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
}

.vk-member-detail {
    padding-top: 75px;
    @media(min-width: $tablet_landscape_width) {
        padding-top: 152px;
    }

    &__left {
        @media(min-width: $tablet_landscape_width) {
            padding-left: 70px;
        }
    }

    &__right {
        @media(min-width: $tablet_landscape_width) {
            padding-right: 70px;
            padding-left: 40px;
        }
    }

    &__top {
        padding-bottom: 30px;
        padding-top: 60px;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 145px;
            padding-bottom: 60px;
        }
    }

    &__contact-form{
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
    }

    &__avatar {
        @extend .vk-img;
    }

    &__feedback {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-bottom: 30px;
        background-color: $grey-1;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 85px;
            padding-bottom: 85px;
            margin-bottom: 50px;
        }
    }
    &__feedback-list {
        padding-top: 50px;
    }

    &__feedback-button {
        text-align: center;
        padding-top: 50px;
    }

    &__feedback-btn {
        @extend .vk-btn, .vk-btn--black;
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center;
        color: $white;
        min-height: 55px;
        min-width: 182px;
        text-transform: uppercase;
    }

    &__faq {
        padding-top: 60px;
        padding-bottom: 60px;
        @media(min-width: $tablet_landscape_width){
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    &__faq-content{
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
    }

    &__name {
        font-size: 40px;
        text-transform: capitalize;
        line-height: 1.15;
        letter-spacing: .8px;
        color: #000;
    }

    &__position {
        @extend .vk-team-item__position;
        margin-bottom: 30px;
    }

    &__btn {
        @extend .vk-team-item__btn;
    }

    &__left-top {
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    &__content {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #ccc;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Nunito Sans", sans-serif;
            font-weight: 600;
            color: $black;
        }
    }

    &__quote {
        padding-top: 30px;
        font-size: 24px;
        line-height: 1.5;
        font-family: Freight-Big;
        font-style: italic;
        color: $black;
    }
    &__contact{
        padding-top: 30px;
        padding-bottom: 60px;
        @media(min-width: $tablet_landscape_width){
            padding-bottom: 120px;
            padding-top: 50px;
        }
    }
}

/*END: MEMBER*/
