/*BEGIN:PAGES*/
.vk-brand {
  &__list {
    .vk-img {

      padding: 25px 10px;
      height: 90px;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.vk-association {
  &__slider {
    .vk-img {
      height: 80px;
      padding: 20px 15px;
      @media(min-width: $tablet_landscape_width) {
        padding: 30px 15px;
        height: 130px;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.vk-award {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    ._item {
      padding: 10px 20px;
      max-width: (100%/3);
      flex: 0 0 (100%/3);
      @media(min-width: $tablet_landscape_width) {
        max-width: 20%;
        flex: 0 0 20%;
        padding: 15px 40px;
      }
    }

    .vk-img {
      height: 80px;
    }
  }
}

.vk-guide-item {
  text-align: center;

  &__img {
    margin-right: auto;
    margin-left: auto;
    @extend .vk-img, .vk-img--cover;
    @include size(90px);
    border-radius: 100px;
  }

  &__brief {
    padding-top: 10px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 1px;
    text-align: center;
    color: #2f2f2f;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: $black-1;
  }
}

.vk-guide-hotline {
  text-align: center;

  &__num {
    font-size: 30px;
    line-height: 0.97;
    letter-spacing: 1px;
    text-align: center;
    color: $black;
    font-family: Freight-Big;
    display: block;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: $black-1;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $yellow-1;
      display: inline-block;
      padding: 10px;
    }
  }

  &__email {
    font-family: Freight-Big;
    line-height: 1.15;
    letter-spacing: 1px;
    color: #2f2f2f;
    display: block;
    font-size: 14px;
    overflow-wrap: break-word;
  }
}

.vk-destiny {
  &__blog {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #f2f2f2;

    @media(min-width: $tablet_landscape_width) {
      padding-top: 40px;
      padding-bottom: 90px;

    }
  }

  &__box {
    background-color: $white;
    border: 1px solid #e9e9e9;
    padding: 30px;
    margin-bottom: 30px;

    ._title {
      text-align: center;
      font-size: 24px;
      line-height: 1.67;
      letter-spacing: 0.8px;
      color: #231f20;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 30px;
    letter-spacing: 1.1px;
    text-align: center;
    color: #252830;
    margin-bottom: 15px;
    font-family: Freight-Big;
    @media(min-width: $tablet_landscape_width) {
      font-size: 55px;
      line-height: 0.84;
      margin-bottom: 25px;
    }

    &--style-1 {
      @extend .vk-destiny__title;
      margin-bottom: 15px;

      @media(min-width: $tablet_landscape_width) {
        margin-bottom: 40px;
      }
    }

    &--style-2 {
      @extend .vk-destiny__title--style-1;
      text-align: left;
      @media(max-width: $tablet_landscape_width - 1px) {
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  &__top-content {


    border-bottom: 1px solid #d8d8d8;;


    padding-top: 50px;
    margin-bottom: 50px;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 70px;
      padding-bottom: 40px;
      margin-bottom: 80px;
    }
  }

  &__top-left {
    ._content {

      @media(min-width: $tablet_landscape_width) {
        padding-left: 30px;
      }
    }

    ._text {
      font-size: 16px;
      line-height: 1.63;
      color: #5e5e5e;
    }
  }

  &__count {
    padding-top: 10px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;

    ._item {
      text-align: center;
      padding: 10px;

    }

    ._num {
      font-size: 48px;
      line-height: 1.02;
      letter-spacing: 0.8px;
      text-align: center;
      color: $black;
      font-family: Freight-Big;
      @media(min-width: $tablet_landscape_width) {
        font-size: 60px;
      }
    }

    ._title {
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 0.3px;
      color: $black-1;
    }
  }

  &__guide {
    background-color: #f2f2f2;
    //background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__guide-content {

    @media(min-width: $tablet_landscape_width) {
      display: flex;
    }

    ._right {


      @media(min-width: $tablet_landscape_width) {
        width: $destiny_right_width;
        padding-top: 90px;
      }

      @media(max-width: $tablet_landscape_width - 1px) {
        background-color: $white;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 40px;
        padding: 40px 35px;
        padding-bottom: 5px;
      }

    }

    ._left {

      @media(min-width: $tablet_landscape_width) {
        width: 1%;
        flex: 1 1 auto;
        padding-right: 90px;
      }
    }
  }
}

.vk-sale-item {
  background-color: $white;
  text-align: center;
  padding: 40px;
  height: 100%;

  &__img {
    @extend .vk-img, .vk-img--mw100;
    @include size(62px);
    margin-left: auto;
    margin-right: auto;
  }

  &__brief {
    padding-top: 30px;
  }

  &__title {
    font-size: 30px;
    line-height: 0.97;
    letter-spacing: 1.3px;
    text-align: center;
    color: $black;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: $black-1;
  }
}

.vk-tour-detail {
  &__price {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    @include transition(0.3s);

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.vk-tour {
  &__list {
    &--style-1 {
      @media(max-width: $tablet_landscape_width - 1px) {
        margin-right: -7px;
        margin-left: -7px;
        //padding-left: 15px;
      }

      ._item {
        @media(max-width: $tablet_landscape_width - 1px) {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }

  &__video {
    position: relative;
    display: block;

    ._icon {
      position: absolute;
      font-size: 72px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      opacity: .7;
      transition: background-color 0.3s;
      @media (max-width: 768px) {
        font-size: 48px;
      }

      .fa {
        display: flex;
        align-items: center;
      }
    }

    &:hover {
      ._icon {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.3);

      }
    }
  }
}

.vk-step-item {
  &--style-1 {
    background-color: $black;
    margin-bottom: 10px;
    @media(min-width: $tablet_landscape_width) {
      padding: 30px;
      padding-top: 20px;
    }

    @media(max-width: $tablet_portrait_width - 1px) {
      display: flex;
      align-items: center;
      padding: 25px 20px;
    }

    .vk-step-item {
      &__brief {
        padding-left: 25px;
      }

      &__num {
        padding-left: 10px;
        font-family: Freight-Big;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -2px;
        color: $yellow-1;
        margin-bottom: 0px;
        @media(min-width: $tablet_landscape_width) {
          font-size: 80px;
          margin-bottom: 60px;
          padding-left: 0;
          line-height: 0.58;
        }

      }

      &__title {
        font-family: Freight-Big;
        color: $white;
        margin-bottom: 5px;
        font-size: (20rem/16);
        line-height: 1.08;
        letter-spacing: 0.8px;
        @media(min-width: $tablet_landscape_width) {
          font-size: (35rem/16);
          line-height: 0.97;
          letter-spacing: 0.6px;
          margin-bottom: 10px;
        }

      }

      &__text {
        font-size: 14px;
        line-height: 1.57;
        color: #a39e9e;
      }
    }
  }

  &--style-2 {
    padding: 30px;

    .vk-step-item {
      &__title {
        font-family: Freight-Big;
        font-size: 40px;
        line-height: 1.23;
        letter-spacing: 0.8px;
        color: $white;
      }
    }
  }
}

.vk-step {
  &__list {
    ._item {
      &:last-child {
        .vk-step-item--style-1 {
          background: url("../images/b1.jpg") center right no-repeat, $black;
        }
      }
    }
  }
}

.vk-bbuster {
  &__title {
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 1px;
    text-align: center;
    color: $black;
    margin-bottom: 25px;

    &--style-1 {
      @extend .vk-bbuster__title;
      margin-bottom: 60px;
    }
  }

  &__list {
    &--style-1 {
      padding: 0 10px;
      justify-content: center;

      ._item {
        width: (100%/3);
        flex: 0 0 (100%/3);
        padding: 10px 0;
        @media(min-width: $tablet_portrait_width) {
          width: 25%;
          flex: 0 0 25%;
        }
        @media(min-width: $tablet_landscape_width) {
          width: 20%;
          flex: 0 0 20%;
        }

        .vk-bbuster-item {
          padding: 5px;
        }
      }
    }
  }


}

.vk-bbuster-item {
  display: block;
  margin-bottom: 0;
  padding: 10px 15px;
  text-align: center;

  &__img {
    @extend .vk-img, .vk-img--cover;
    @media(min-width: $tablet_landscape_width) {
      height: 130px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url("../images/icon-7.png") no-repeat 10px 10px, rgba(0, 0, 0, 0.45);
      @include transition(0.3s);
      opacity: 0;
    }

  }

  &__title {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.3px;
    color: #231f20;
  }

  input {
    display: none;

    &:checked {

      ~ .vk-bbuster-item__content {
        .vk-bbuster-item__img:after {
          opacity: 1;
        }
      }
    }
  }
}

.vk-user-item {
  text-align: center;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;

  &__img {
    @extend .vk-img, .vk-img--cover;
    @include size(90px);
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  &__brief {
    padding-top: 15px;
  }

  &__title {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #202020;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #585858;
  }
}

.vk-review-item {
  text-align: center;
  padding-bottom: 30px;

  ._top {
    padding-bottom: 20px;
  }

  ._bot {
    font-family: Freight-Big;
    font-size: 18px;
    font-style: italic;
    line-height: 1.62;
    text-align: center;
    color: #231f20;
    @media(min-width: $tablet_landscape_width) {
      font-size: 26px;
    }

  }

  &__title {
    font-family: Freight-Big;
    font-size: 24px;
    line-height: 1.21;
    letter-spacing: 1px;
    color: $black;
    margin-bottom: 10px;
  }

  &__meta {
    font-size: 16px;
    font-weight: 600;
    color: $black-1;
  }
}

.vk-review {
  &__button {
    text-align: center;
    margin-bottom: -25px;
    padding-top: 30px;
  }

  &__btn {
    @extend .vk-btn, .vk-btn--default;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    min-width: 196px;
    height: 55px;
  }

  &__wrapper {
    border: 1px solid #ddd;
  }

  &__title {
    font-size: 30px;
    line-height: 0.84;
    letter-spacing: 1px;
    text-align: center;
    color: #231f20;
    margin-bottom: 35px;
    margin-top: -16px;
    @media(min-width: $tablet_landscape_width) {
      font-size: 55px;
      margin-bottom: 50px;
      margin-top: -27px;

    }

    span {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      background-color: $white;
      position: relative;
      @media(min-width: $tablet_landscape_width) {
        padding-left: 30px;
        padding-right: 30px;
      }

      &:before, &:after {
        content: '';
        height: 55px;
        width: 1px;
        align-content: center;
        background-color: #ddd;
        position: absolute;
        transform: skew(-40deg);
        display: none;
        @media(min-width: $tablet_landscape_width) {
          display: inline-block;
        }
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &__wrapper {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media(min-width: $tablet_landscape_width) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.vk-map-info {
  max-width: 470px;
  background-color: $white;
  padding: 40px;

  &__title {
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.8px;
    text-align: center;
    color: $black;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $black-1;
    margin-bottom: 25px;
  }

  &__table {
    tr {
      td {
        &:first-child {
          color: #9b9b9b;
          padding-right: 10px;
        }
      }
    }

    td {
      padding: 0px 0;
      font-size: 14px;
      line-height: 2.43;
      color: #2f2f2f;
    }
  }
}

.vk-sale {

  &__map {
    padding-top: 140px;
    padding-bottom: 140px;
    background: url("../images/map.jpg") no-repeat center center;
  }

  &__bbuster {
    background-color: $grey-1;
    padding-bottom: 90px;
    padding-top: 135px;
  }

  &__bbuster-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    background-color: $white;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;

    ._top {
      position: relative;
      top: -45px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e3e3e3;
      margin-bottom: 30px;
    }

    &--style-1 {
      @extend .vk-sale__bbuster-content;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      padding-top: 50px;
      @media(min-width: $tablet_landscape_width) {
        padding-left: 40px;
        padding-right: 40px;
      }

      ._top {
        top: 0;
        position: static;
      }
    }
  }

  &__review {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__step {
    padding-top: 200px;
    padding-bottom: 200px;
    background: url("../images/b2.jpg") center center no-repeat;
    background-size: cover;
  }

  &__service {
    background-color: $grey-1;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  &__title-box {
    padding-bottom: 60px;

    ._title {
      font-family: Freight-Big;
      font-size: 60px;
      line-height: 1.02;
      letter-spacing: 0.8px;
      text-align: center;
      color: $black;
      margin-bottom: 30px;
    }

    ._title-sub {
      max-width: 690px;
      margin-left: auto;
      margin-right: auto;
      font-family: Nunito Sans;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: #3e3e3e;
    }
  }
}

.vk-inquire {
  &__mid {
    position: relative;

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      border-radius: 0;
      background-color: #dfdfdf;
    }

    .progress-bar {
      background-color: $yellow-1;
    }
  }

  &__title-box {
    text-align: center;
    margin-bottom: 60px;

    ._title {
      text-align: center;
      color: $black;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 1.2;
      letter-spacing: 0.4px;
      @media(min-width: $tablet_landscape_width) {
        font-size: 40px;
        line-height: 1.15;
        letter-spacing: 1px;
      }
    }

    ._text {
      font-size: 14px;
      line-height: 1.71;
      text-align: center;
      color: $black-1;
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {

    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.77;
    letter-spacing: 0.8px;
    color: #231f20;

    @media(min-width: $tablet_landscape_width) {
      font-size: 30px;
      line-height: 1.53;
      letter-spacing: 0.9px;
      margin-bottom: 20px;
    }

  }

  &__bot {
    padding-top: 30px;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 60px;
    }
  }

  &__wrapper {
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    @media(min-width: $tablet_landscape_width) {
      padding-top: 230px;
      padding-bottom: 100px;
    }

  }

  &__content {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
}

.vk-404 {
  background: url('../images/404-b.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 80px;

  &__wrapper {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 600px;
  }

  &__title {
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.27);
    font-family: Freight-Big;
    font-size: 209px;
    line-height: 1;
    letter-spacing: 2.7px;
    text-align: center;
    color: $white;
  }

  &__title-sub {
    text-shadow: 0 2px 7px rgba(0, 0, 0, 0.28);
    font-family: NunitoSans;
    font-size: 22px;
    line-height: 3.59;
    text-align: center;
    color: $white;
  }

  &__btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.94;
    text-align: center;
    width: 218px;
    height: 55px;
    @extend .vk-btn, .vk-btn--default;
    text-transform: uppercase;
  }
}

/*END:PAGES*/
