.vk-home {
    &__tour-cat-list {
        margin-left: -8px;
        margin-right: -8px;
        padding-top: 8px;
        padding-bottom: 8px;
        @media(min-width: $tablet_landscape_width) {
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;

        }

        ._item {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            overflow: hidden;
            @media(min-width: $tablet_landscape_width) {
                padding: 0;

            }
        }
    }

    &__tour-style {
        background: $black;
        background-size: 100%;
        padding-bottom: 60px;
        padding-top: 30px;
        position: relative;
        overflow: hidden;

        @media(min-width: $tablet_landscape_width) {
            padding-bottom: 120px;
            padding-top: 80px;
            min-height: 760px;
            background: $black;
            background-size: 100%;
        }
        @media(min-width: $full_hd_width) {
            min-height: 800px;
        }

        &:after {
            content: attr(data-background-content);
            position: absolute;
            bottom: -8px;
            font-size: 85px;
            left: 0;
            right: 0;
            font-family: Freight-Big;
            line-height: 1;
            letter-spacing: -4.3px;
            text-align: center;
            color: #161616;
            text-transform: uppercase;
            opacity: 0;

            @media(min-width: $tablet_landscape_width) {
                opacity: 1;
            }

            @media(min-width: $pc_width) {
                font-size: 100px;
            }
            @media(min-width: $full_hd_width) {
                font-size: 145px;
                bottom: -10px;
            }
        }
    }

    &__tour {

    }

    &__how {
        padding-top: 55px;
        padding-bottom: 35px;
        background-color: #e7e7e7;

        @media(min-width: $tablet_landscape_width) {
            padding-top: 70px;
            padding-bottom: 70px;
            background-color: $white;
        }
    }

    &__how-content {
    }

    &__banner {
        position: relative;
    }

    &__banner-bot {
        background-color: #e7e7e7;

        @media(min-width: $tablet_landscape_width) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__title-box {
        text-align: center;
        margin-bottom: 35px;
        @media(min-width: $tablet_landscape_width) {
            margin-bottom: 45px;
        }

        ._title {
            font-size: 30px;
            line-height: 1.15;
            letter-spacing: 0.8px;
            text-align: center;
            color: $black;
            margin-bottom: 15px;
            @media(min-width: $tablet_landscape_width) {
                font-size: 40px;
            }
        }

        ._title-sub {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.3px;
            text-align: center;
            color: #434343;
        }

        &--style-1 {
            max-width: 570px;
            margin-left: auto;
            margin-right: auto;
            @media(min-width: $tablet_landscape_width) {
                margin-bottom: 50px;
            }
        }
    }

    &__title {
        font-size: 42px;
        text-align: center;
        color: $black;
        margin-bottom: 30px;
        line-height: 1.1;
        letter-spacing: 0.6px;;
        @media(min-width: $tablet_landscape_width) {
            font-size: 60px;
            line-height: 1.02;
            letter-spacing: 0.8px;

        }

        &--style-1 {
            font-size: 30px;
            line-height: 0.84;
            letter-spacing: 1.1px;
            text-align: center;
            color: $yellow-1;
            margin-bottom: 40px;
            @media(min-width: $tablet_landscape_width) {
                font-size: 55px;
                margin-bottom: 65px;

            }
        }
    }

    &__shop {
        background-color: $grey-1;
        padding-top: 60px;
        padding-bottom: 60px;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &__shop-banner{
        padding-top: 60px;
    }

    &__about {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 70px;
        position: relative;
        @media(min-width: $tablet_landscape_width) {
            padding-top: 80px;
            padding-bottom: 80px;
            background-color: $grey-1;
        }

        &:before {
            @media(max-width: $tablet_landscape_width - 1px) {
                content: "";
                @include size(18px);
                background: url("../images/down-1.png") center bottom no-repeat;
                position: absolute;
                bottom: -9px;
                z-index: 11;
            }
        }

        ._text {
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            color: #3e3e3e;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            max-width: 624px;
        }

        .vk-btn {
            @extend .vk-btn--black;
            height: 55px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.6;
            letter-spacing: 0.3px;
            width: auto;
            min-width: 181px;
            padding-left: 25px;
            padding-right: 25px;

        }

        &--style-1,
        &--style-2 {
            background-color: transparent;
            padding-top: 0;
        }

        &--style-2 {
            padding-bottom: 0;
            padding-top: 40px;
        }
    }

    &__about-content {
        max-width: 690px;
        margin-right: auto;
        margin-left: auto;
    }

}
