.nice-select {
  float: none;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9;
  position: relative;
}

.slick-slider {
  display: none;
  //margin-left: auto;
  //margin-right: auto;

  &.slick-initialized {
    display: block;
  }
}


.vk-animation {
  opacity: 0;
}


.container {
  position: relative;
  @media (min-width: $pc_width) {
    max-width: $pc_width;
  }
}

.d-inline-block,
.d-inline-flex {
  vertical-align: top;
}


.animsition-loading {
  background-color: transparent;
  border-top: 2px solid rgba($pink-1, .2);
  border-right: 2px solid rgba($pink-1, .2);
  border-bottom: 2px solid rgba($pink-1, .2);
  border-left: 2px solid $pink-1;
}


#scrollUp {
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
  line-height: 2.18;
  letter-spacing: 1.8px;
  color: #bababa;
  text-decoration: none;
  opacity: 1;
  padding: 10px 20px;
  transition: background 300ms linear;
  -webkit-backface-visibility: hidden;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  @media(max-width: $tablet_landscape_width - 1px) {
    @include size(35px);
    background-color: $yellow-1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: $black;
    font-size: 16px;
    ._text {
      display: none;
    }
  }

  &:hover {
    opacity: 1;
    //background-color: $pink-1;
    //color:$white;
  }

  ._icon {
    padding-top: 5px;
  }
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block; /* undo display:none          */
  height: 0; /* height:0 is also invisible */
  overflow-y: hidden; /* no-overflow                */
}

.tab-content > .active,
.pill-content > .active {
  height: auto; /* let the content decide it  */
}

/* bootstrap hack end */

.mz-thumb-selected img {
  filter: none;
}

.mz-thumb:hover:not(.mz-thumb-selected) img {
  filter: none;
}

.vk-zoom {
  display: flex;

  .mz-thumb {
    margin-bottom: 10px;

    img {
      border: 2px solid #fff;
      box-shadow: none;
      @include transition(0.15s);
      max-width: 100%;

      &:hover {
        border-color: #e90187;
      }
    }
  }

  .mz-thumb-selected img {
    border-color: #e90187;
  }

  ._left {
    width: 20%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  ._right {
    width: 1%;
    flex: 1 1 auto;
  }
}

.vk-search {
  align-items: center;
  background-color: $white;
  @media(min-width: $tablet_landscape_width) {
    display: flex;
  }

  ._left {

    @media(min-width: $tablet_landscape_width) {
      width: 1%;
      flex: 1 1 auto;
      display: flex;
    }
  }

  ._item {
    @media(min-width: $tablet_landscape_width) {
      flex: 1 1 25%;
      max-width: 25%;
      padding-left: 5px;
      padding-right: 5px;
      border-right: 1px solid #dfdfdf;
    }
  }

  .vk-dropdown {
    height: 65px;

    ._list {
      top: calc(100% + 9px);
    }

    ._list,
    &--style-1,
    &--style-2,
    &--style-3 {
      max-height: 70vh;

      ._title {
        text-shadow: none;
      }
    }


  }

  .vk-btn {
    @extend .vk-btn--default;
    border: none;
    height: 55px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    @media(min-width: $tablet_landscape_width) {
      height: 84px;
      width: 203px;
    }


  }

  &--style-1 {
    @media(max-width: $tablet_landscape_width - 1px) {
      background-color: transparent;
    }

    @media(max-width: $tablet_landscape_width - 1px) {
      padding-bottom: 0;
    }

    ._left {
      @media(max-width: $tablet_landscape_width - 1px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
      }

      ._item {
        @media(max-width: $tablet_landscape_width - 1px) {
          width: 100%;
          flex: 0 0 100%;
          margin-bottom: 10px;
          padding-left: 5px;
          padding-right: 5px;
        }

        &:nth-child(1), &:nth-child(2) {
          @media(max-width: $tablet_landscape_width - 1px) {
            width: 50%;
            flex: 0 0 50%;
          }
        }
      }
    }

    .vk-dropdown {
      background-color: $white;

      ._title {
        font-size: 14px;
        margin-bottom: 5px;
      }

      ._text {
        font-size: 20px;
      }
    }

    ._right {
      @media(max-width: $tablet_landscape_width - 1px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }

  &--style-2 {
    background-color: #e8e8e8;
    padding: 15px 15px;
    @media(max-width: $tablet_landscape_width - 1px) {
      padding-bottom: 0;
    }

    ._item {
      border: none;
      white-space: nowrap;
      margin-bottom: 15px;
      @media(min-width: $tablet_landscape_width) {
        padding: 0 50px;
        display: flex;
        align-items: center;
        flex: 1 1 50%;
        max-width: 50%;
        margin-bottom: 0;
      }
    }

    ._title {
      font-size: 14px;
      line-height: 1.57;
      letter-spacing: 0.3px;
      color: #231f20;
      padding-right: 20px;
      margin-bottom: 10px;
      @media(min-width: $tablet_landscape_width) {
        margin-bottom: 0px;
      }
    }

    .vk-dropdown {
      height: 55px;
      background-color: $white;
      width: 100%;
    }

    .vk-btn {
      height: 55px;
      @media(max-width: $tablet_landscape_width - 1px) {
        width: 100%;
      }

    }

    ._right {
      @media(max-width: $tablet_landscape_width - 1px) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

  }

  &--style-3 {
    ._right {
      width: 222px;

      .vk-btn {
        width: 100%;
      }
    }

    ._left {
      @media(min-width: $tablet_landscape_width) {
        width: 1%;
        flex: 1 1 auto;
      }
    }

    ._item {
      flex: 0 0 calc(100% - 298px);
      max-width: calc(100% - 298px);
      padding: 0;
      @media(min-width: $tablet_portrait_width) {

      }

      &:first-child {
        flex: 1 1 298px;
        max-width: 298px;
        width: 100%;
      }
    }
  }

}

.vk-content {
  position: relative;
}

.vk-map {
  ._content {
    iframe {
      width: 100% !important;
      height: 290px !important;
    }
  }

  ._btn {
    @extend .vk-btn, .vk-btn--black;
    text-transform: uppercase;
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: center;
    color: $white;

  }

}

/*begin: ads*/
.vk-ads {
  position: relative;

  ._container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1000px;
  }

  &__content {
    position: sticky;
    top: 0;

    ._left {
      right: calc(50% + 590px);
      left: 0;
      text-align: right;
      position: absolute;
    }

    ._right {
      right: 0;
      left: calc(50% + 590px);
      position: absolute;
    }

    img {

      max-width: 100%
    }
  }
}

.vk-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  padding-left: 30px;

  &__title {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.3px;
    color: $black-1;
  }

  input[type=checkbox] {
    @include size(23px);
    position: absolute;
    left: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: url("../images/icon-9.png") no-repeat center center, $white;
      @include transition(0.3s);
    }

    &:hover {
      &:before {
        background: url("../images/icon-10.png") no-repeat center center, $white;
      }
    }

    &:checked {
      &:before {
        background: url("../images/icon-8.png") no-repeat center center, $white;
      }

    }
  }
}

.mm-menu_theme-dark {
  background-color: $black;
}

.mm-listitem:after {
  border-color: rgba($white, .1);
}

.mm-listitem a {
  padding-top: 13px;
  padding-bottom: 13px;
}

.mm-listitem a, .mm-listitem a:hover {
  color: $yellow-1;

}

.mm-navbar {
  height: auto;

  > a {
    display: inline-block;
    padding: 15px 10px;
  }
}

.mm-listitem a:hover {
  background-color: rgba($black-1, 0.1);
}

.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 30px;
}

[data-animation] {
  opacity: 0;
  @media(max-width: $tablet_landscape_width) {
    opacity: 1 !important;
  }
}

.datepicker {
  border-radius: 0;
  //min-width: 500px;
  font-size: 14px;
}

.datepicker table tr td, .datepicker table tr th {
  border-radius: 0;

}

.datepicker table tr td {
  text-shadow: 0 0 0 black;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  cursor: not-allowed;
  color: #ccc;
}

.datepicker table tr td, .datepicker table tr th {
  width: 40px;
}

.datepicker table tr td.new, .datepicker table tr td.old {
  //color:ddd;
}

/*end: ads*/


.vk-modal-dialog {
  max-width: 1270px;

  .modal-body {
    padding: 0;

  }
}

.vk-modal__close {
  position: absolute;
  right: 0;
  @include size(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.vk-datepicker {
  padding-right: 50px !important;
  background: url("../images/bx-calendar.png") no-repeat 95% center;
}

.modal-content {
  border-radius: 0;
}

.vk-popup {
  &__row {
    margin-bottom: 20px;

    ._label {
      font-size: 14px;
      line-height: 1.57;
      color: #9b9b9b;
      margin-bottom: 7px;
    }

    ._text {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.38;
      color: #1a1a1a;
    }
  }

  &__title {
    font-family: Freight-Big;
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #2f2f2f;
    margin-bottom: 20px;
  }

  &__content {

    @media(min-width: $tablet_portrait_width) {
      display: flex;
    }

    ._left {
      @media(min-width: $tablet_portrait_width) {
        width: (600/1270*100%);
      }
    }

    ._right {
      padding: 15px;
      @media(min-width: $tablet_portrait_width) {
        width: 1%;
        flex: 1 1 auto;
        padding: 40px 35px;
      }
      @media(min-width: $tablet_landscape_width) {

        padding: 40px 20px;
      }

      @media(min-width: $full_hd_width) {
        padding: 40px 35px;
      }
    }
  }
}

.vk-404__btn {
  width: auto;
  min-width: 218px;
}

.vk-alert-warning {
  background-color: #fde3b2;
}

.vk-modal-lg {
  @media (min-width: 992px) {
    max-width: 560px;
  }
}

.page-item .page-link {
  border-radius: 0 !important;
  color: inherit;
}

.page-item.active .page-link {
  background-color: #faba40;
  border-color: #faba40;
}

.page-link:focus {
  box-shadow: none;
}


.select2-container--bootstrap4 .select2-selection {

  border-radius: 0rem;
  border-color: #e8e8e8;
  background-color: #e8e8e8

}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: #faba40;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(250, 186, 64, 0.25);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(250, 186, 64, 0.25);

}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  line-height: calc(1.5em + 2.00rem) !important;
}

.select2-container--bootstrap4 .select2-selection--single {
  height: 55px !important;
}

.admin_editable {
  position: relative;
  background: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  line-height: 0.9;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    border-width: 3px;
  }
}


