@font-face {
   font-family: 'Freight-Big';
    src: url('Freight-BigBold.woff2') format('woff2'),
        url('Freight-BigBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Freight-Big';
    src: url('Freight-BigBlack.woff2') format('woff2'),
        url('Freight-BigBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Freight-Big';
    src: url('Freight-BigBookSC.woff2') format('woff2'),
        url('Freight-BigBookSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Freight-Big';
    src: url('Freight-BigBook.woff2') format('woff2'),
        url('Freight-BigBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Freight-Big';
    src: url('Freight-BigBookItalic.woff2') format('woff2'),
        url('Freight-BigBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

